In [55]:
import pandas as pd
import regex as re
from sqlalchemy import create_engine

In [2]:
dataframe = pd.read_csv("scrapers/cleaned_data_2024/final_data_regata.csv", low_memory=False)

In [3]:
dataframe.shape

(139087, 15)

In [4]:
dataframe.head()

,ID Resultado,ID Competidor,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Descarte,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata,Nacionalidade
0,1,3502,MINA MOBEKK,19,IQFOIL FEM.,15.0,0,NaN,1,0,207,116,European Championship 2023,1Q,NOR
1,2,3502,MINA MOBEKK,19,IQFOIL FEM.,2.0,0,NaN,1,0,207,116,European Championship 2023,2Q,NOR
2,3,3502,MINA MOBEKK,19,IQFOIL FEM.,6.0,0,NaN,1,0,207,116,European Championship 2023,3Q,NOR
3,4,3502,MINA MOBEKK,19,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,4Q,NOR
4,5,3502,MINA MOBEKK,19,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,5Q,NOR

In [8]:
def ArrumaNomeCompeticoes(valor:str) -> str:
    if valor == 'European Championship 2021 - Gold Fleet & Medal Race':
        return 'European Championship 2021'
    elif valor == 'European Championship 2021 - Silver Fleet':
        return 'European Championship 2021'
    elif valor == 'European Championship 2023 - Bronze Fleet':
        return 'European Championship 2023'
    elif valor == 'European Championship 2023 - Gold Fleet':
        return 'European Championship 2023'
    elif valor == 'European Championship 2023 - Silver Fleet':
        return 'European Championship 2023'
    else:
        return valor

In [9]:
dataframe["Nome Competição"] = dataframe["Nome Competição"].apply(ArrumaNomeCompeticoes)

In [10]:
dataframe["Nome Competição"].unique()

array(['European Championship 2023', 'European Championship 2022',
       'Semaine Olympique Francaise De Voile 2022',
       'Trofeo S.A.R Princesa Sofia 2023',
       'Semaine Olympique Francaise De Voile 2015',
       'Semaine Olympique Francaise De Voile 2016',
       'Semaine Olympique Francaise De Voile 2023',
       'Central and South American Championship 2023',
       'Central and South American Championship 2022',
       'European Championship 2021', 'World Championship 2019',
       'World Championship 2020', 'World Championship 2021',
       'World Championship 2022', 'Alpsee-Skiff-Weekend 2023',
       'Auftaktregatta - ILCA 2024', 'CAMPEONATO ABERTO BELGA 2023',
       'Campeonato Nórdico Aberto 2023', 'Copa Surendorf 2023',
       'DER WIKINGER 2023', 'Escola laser 2023', 'Esquife DS-DM 2023',
       'EurILCA Campeonato Europeu Sub 21 e Troféu Europeu Aberto 2023',
       'EURILCA MASTER SERIES BÉLGICA 2023', 'European Championship 2016',
       'European Championship 2020', 'IDJM 2023',
       'ILCA Nacional 1 ZC Hofstade 2023',
       'ILCA Punktemeisterschaft 2023', 'ILCA6 2023', 'ILCA7 2023',
       'ILCANC 3  2023', 'Internacional. Laser-Kuhschellenregatta 2023',
       'Internationale Trapezregata der 2023',
       'Kupferne Rohrdommel - Distriktmeisterschaft Nord 2023',
       'Latvijas atklātais čempionāts - Optimist e ILCA klasēm 2023',
       'LYC Youth Cup 2023', 'Martinsregata II ILCA 2023',
       'Martinsregatta 2023', 'Nationale wedstrijd 2023',
       'Norgesmesterskap ILCA e Optimist 2023',
       'Opti-Europa-ILCA Treff Bosau 2023', 'Regata ILCA 2023',
       'Rider of the Year I 2023', 'Rider of the Year II 2023',
       'Rider of the Year III 2023', 'Rider of the Year IV 2023',
       'Saarlandmeisterschaft 2023',
       'Semaine Olympique Francaise De Voile 2017',
       'Semaine Olympique Francaise De Voile 2018',
       'Spandauer Eis-Cup 2023', 'SVK 2023',
       'Troféu Königswinkel ILCA 2023', 'World Championship 2015',
       'World Championship 2016', 'World Championship 2017',
       'World Championship 2018', 'World Championship 2023',
       'Trofeo S.A.R Princesa Sofia 2015',
       'Trofeo S.A.R Princesa Sofia 2016',
       'Trofeo S.A.R Princesa Sofia 2017',
       'Trofeo S.A.R Princesa Sofia 2018', 'World Championship 2024',
       'European Championship 2024'], dtype=object)

In [11]:
def AdicionaAnoCompeticao(valor:str) -> str:
    return valor[-4:]

In [12]:
dataframe["Ano Competição"] = dataframe["Nome Competição"].apply(AdicionaAnoCompeticao)

In [13]:
dataframe["Ano Competição"].unique()

array(['2023', '2022', '2015', '2016', '2021', '2019', '2020', '2024',
       '2017', '2018'], dtype=object)

In [35]:
FinalDataframe = pd.DataFrame(columns=["Nome", "Competição", "Colocação", "Classe", "Nacionalidade", "Data da Competição"])

In [36]:
FinalDataframe["Nome"] = dataframe["Nome Competidor"]
FinalDataframe["Competição"] = dataframe["Nome Competição"]
FinalDataframe["Colocação"] = dataframe["Posição Geral"]
FinalDataframe["Classe"] = dataframe["Classe Vela"]
FinalDataframe["Nacionalidade"] = dataframe["Nacionalidade"]
FinalDataframe["Data da Competição"] = dataframe["Ano Competição"]

In [37]:
FinalDataframe.shape

(139087, 6)

In [38]:
FinalDataframe.head()

,Nome,Competição,Colocação,Classe,Nacionalidade,Data da Competição
0,MINA MOBEKK,European Championship 2023,1,IQFOIL FEM.,NOR,2023
1,MINA MOBEKK,European Championship 2023,1,IQFOIL FEM.,NOR,2023
2,MINA MOBEKK,European Championship 2023,1,IQFOIL FEM.,NOR,2023
3,MINA MOBEKK,European Championship 2023,1,IQFOIL FEM.,NOR,2023
4,MINA MOBEKK,European Championship 2023,1,IQFOIL FEM.,NOR,2023

In [39]:
FinalDataframe.drop_duplicates(inplace=True)

In [40]:
FinalDataframe.shape

(9982, 6)

In [44]:
FinalDataframe.sort_values(by=["Data da Competição", "Competição", "Classe", ], inplace=True, ascending=[True, True, True])

In [45]:
FinalDataframe.reset_index(drop=True, inplace=True)

In [46]:
FinalDataframe.head()

,Nome,Competição,Colocação,Classe,Nacionalidade,Data da Competição
0,"ERIK HEIL, THOMAS PLOESSEL",Semaine Olympique Francaise De Voile 2015,3,49ER,GER,2015
1,"RYAN SEATON, MATTHEW MCGOVERN",Semaine Olympique Francaise De Voile 2015,24,49ER,NaN,2015
2,"CARL P SYLVAN, OTTO HAMEL",Semaine Olympique Francaise De Voile 2015,12,49ER,NaN,2015
3,"CARLOS PAZ, LUIS BUGALLO ARRIOLA",Semaine Olympique Francaise De Voile 2015,39,49ER,NaN,2015
4,"PETAR CUPAC, PAVLE KOSTOV",Semaine Olympique Francaise De Voile 2015,22,49ER,NaN,2015

In [47]:
FinalDataframe["Colocação"].unique()

array(['3', '24', '12', '39', '22', '20', '23', '31', '8', '9', '5', '17',
       '36', '28', '25', '13', '14', '19', '2', '11', '1', '7', '38', '6',
       '16', '21', '33', '26', '29', '18', '4', '40', '27', '30', '15',
       '10', '37', '34', '35', '32', '41', '42', '43', '44', '45', '46',
       '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57',
       '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68',
       '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79',
       '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90',
       '91', '92', '93', '94', '95', '96', '97', '98', '99', '100', '101',
       '102', '103', '104', '105', '106', '107', '108', '109', '110',
       '111', '112', '113', '114', '115', '116', '117', '118', '119',
       '120', '121', '122', '123', '124', '125', '126', '127', '128',
       '129', '130', '131', '132', '133', '134', '135', '136', '137',
       '138', '139', '140', '141', '142', '143', '144', '145', '146',
       '147', '148', '149', '150', '151', '152', '153', '154', '155',
       '156', '157', '158', '159', '160', '161', '162', '163', '164',
       '165', '50/0', '31EX'], dtype=object)

In [48]:
def ArrumaColocacao(valor:str) -> int:
    try:
        return int(valor)
    except:
        if valor == "50/0":
            return 50
        else:
            return 31

In [49]:
FinalDataframe["Colocação"] = FinalDataframe["Colocação"].apply(ArrumaColocacao)

In [50]:
FinalDataframe["Colocação"].unique()

array([  3,  24,  12,  39,  22,  20,  23,  31,   8,   9,   5,  17,  36,
        28,  25,  13,  14,  19,   2,  11,   1,   7,  38,   6,  16,  21,
        33,  26,  29,  18,   4,  40,  27,  30,  15,  10,  37,  34,  35,
        32,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165], dtype=int64)

In [51]:
FinalDataframe.sort_values(by=["Data da Competição", "Competição", "Classe", "Colocação"], inplace=True, ascending=[True, True, True, True])

In [53]:
FinalDataframe.reset_index(drop=True, inplace=True)

In [54]:
FinalDataframe.head()

,Nome,Competição,Colocação,Classe,Nacionalidade,Data da Competição
0,"BLAIR TUKE, PETER BURLING",Semaine Olympique Francaise De Voile 2015,1,49ER,NaN,2015
1,"NATHAN OUTTERIDGE, IAIN JENSEN",Semaine Olympique Francaise De Voile 2015,2,49ER,AUS,2015
2,"ERIK HEIL, THOMAS PLOESSEL",Semaine Olympique Francaise De Voile 2015,3,49ER,GER,2015
3,"RHYS MARA, DAVID GILMOUR",Semaine Olympique Francaise De Voile 2015,4,49ER,NaN,2015
4,"ALAIN SIGN, DYLAN FLETCHER",Semaine Olympique Francaise De Voile 2015,5,49ER,NaN,2015

In [56]:
engine = create_engine('sqlite:///elo_ranking.db', echo=False)
FinalDataframe.to_sql('Resultados', con=engine, if_exists='replace', index=False)

9982