In [71]:
import pandas as pd 
from unidecode import unidecode
import re

# Dados da Planilha

In [9]:
def arruma_pontuacao(valor):
    if str(valor)[0] == "-":
        valor = "(" + str(valor)[1:] + ")"
    return str(valor)

In [17]:
def arruma_nome(valor:str):
    valor = valor.replace("/", ", ")
    return valor

In [123]:
def arruma_nome_valor(nome):
    try:
        return atletas[nome].replace(", ", " ").replace("; ", ", ")
    except:
        print(nome)
        return nome

## IQFOIL Masc.	European Championship 2022

In [38]:
df1 = pd.read_csv("../../arquivo_1.CSV", sep=";", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df1)):
    data = list(df1.iloc[each_athlete])
    for each_regata in range(4, 24):
        list_of_data.append([data[0], data[3].upper(), data[1].split(" ")[0], f"{df1.columns[each_regata]}Q", data[each_regata], data[-2], data[-1], "IQFOIL MASC.", "European Championship 2022"])

df1_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df1_auxi["Pontuação Regata"] = df1_auxi["Pontuação Regata"].apply(arruma_pontuacao)
df1_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"GOYARD, NICOLAS",FRA,1Q,3,261,84,IQFOIL MASC.,European Championship 2022
1,1,"GOYARD, NICOLAS",FRA,2Q,1,261,84,IQFOIL MASC.,European Championship 2022
2,1,"GOYARD, NICOLAS",FRA,3Q,1,261,84,IQFOIL MASC.,European Championship 2022
3,1,"GOYARD, NICOLAS",FRA,4Q,1,261,84,IQFOIL MASC.,European Championship 2022
4,1,"GOYARD, NICOLAS",FRA,5Q,(7),261,84,IQFOIL MASC.,European Championship 2022

## Nacra 17	Semaine Olympique Francaise De Voile 2022 (OLHA PARA OS NOMES E TOTAL/NET)

In [125]:
atletas = {
    'TITA RUGGERO (ITART8)                          M92 BANTI CATERINA (ITACB71)                   F87': 'TITA, RUGGERO; BANTI, CATERINA',
    'GIMSON JOHN (GBRJG12)                     M83 BURNET ANNA (GBRAB123)                F92': 'GIMSON, JOHN; BURNET, ANNA',
    'KURTBAY SINEM (FINSK2)                    F91 KESKINEN AKSELI                                  M99': 'KURTBAY, SINEM; KESKINEN, AKSELI',
    'WATERHOUSE JASON (AUSJW14)        M91 DARMANIN LISA (AUSLD4)                  F91': 'WATERHOUSE, JASON; DARMANIN, LISA',
    'WILKINSON MICAH (NZMW12)              M96 DAWSON ERICA (NZLED1)                    F94': 'WILKINSON, MICAH; DAWSON, ERICA',
    'UGOLINI GIANLUIGI (ITAGU1)                 M98 GIUBILEI MARIA (ITAMG142)                 F98': 'UGOLINI, GIANLUIGI; GIUBILEI, MARIA',
    'MAJDALANI MATEO (ARGMM7)              M94 BOSCO EUGENIA (ARGEB11)               F97': 'MAJDALANI, MATEO; BOSCO, EUGENIA',
    'SAOUMA-PEDERSEN NATAC (DENNS11F)97 BORRESKOV MATHIAS BRUUN (DENMB1M99)6': 'SAOUMA-PEDERSEN, NATAC; BORRESKOV, MATHIAS BRUUN',
    'VAN DER MEER LAILA (NEDLV30)         F00 BOUWER BJARNE (NEDBB21)               M03': 'VAN DER MEER, LAILA; BOUWER, BJARNE',
    'SVENSSON IDA (SWEIS4)                     F97 DACKHAMMAR MARCUS (SWEMD2)    M88': 'SVENSSON, IDA; DACKHAMMAR, MARCUS',
    'JARUDD EMIL (SWEEJ5)                       M98 JONSSON HANNA (SWEHJ11)             F99': 'JARUDD, EMIL; JONSSON, HANNA',
    'BERTHOMIEU LOU (FRALB71) MOURNIAC TIM (FRATM30)': 'BERTHOMIEU, LOU; MOURNIAC, TIM',
    'FARESE LAURA (AUTLF3) ZOCHLING MATTHÃ¤US (AUTMZ5)': 'FARESE, LAURA; ZOCHLING, MATTHÃ¤US',
    'NEWBERRY-MOORE SARAH (USASN15F)88 LIEBENBERG DAVID (USADL74)': 'NEWBERRY-MOORE, SARAH; LIEBENBERG, DAVID',
    'LIDDELL JAKE (AUSJL33) COPELAND LUCY (AUSLC18)': 'LIDDELL, JAKE; COPELAND, LUCY',
    'BESSON BILLY (FRABB4) ANCIAN NOA (FRANA9)': 'BESSON, BILLY; ANCIAN, NOA',
    'LANGE SANTIAGO (ARGSL2) TRAVASCIO VICTORIA (ARGVT4)': 'LANGE, SANTIAGO; TRAVASCIO, VICTORIA',
    'PASCHALIDIS IORDANIS (GREIP4) PAPADOPOULOU MYRTO (GREPM23F)01': 'PASCHALIDIS, IORDANIS; PAPADOPOULOU, MYRTO',
    'BILLY MARGAUX (FRAMB101) MAURIN LEO (FRALM49)': 'BILLY, MARGAUX; MAURIN, LEO',
    'LIU JUSTIN (SINJL1) LIM DENISE (SINDL3)': 'LIU, JUSTIN; LIM, DENISE',
    'PETARD TITOUAN (FRATP37) SALOU CHLOE (FRACS33)': 'PETARD, TITOUAN; SALOU, CHLOE',
    'BALANGER ENZO (FRAEB35) DUBOIS ROXANE (FRARD27)': 'BALANGER, ENZO; DUBOIS, ROXANE',
    'CRAIN CARSON (USACC106) ATWOOOD CAROLINE (USACA43)': 'CRAIN, CARSON; ATWOOOD, CAROLINE',
    'BOOTH RUBEN (ESPRB18) BOOTH RITA (ESPRB18)': 'BOOTH, RUBEN; BOOTH, RITA',
    'HABERL LUKAS (AUTLH5) FRANK TANJA (AUTTF2)': 'HABERL, LUKAS; FRANK, TANJA',
    'JONES EMMA (AUSEJ1) PUTTMAN MAX (AUSMP47)': 'JONES, EMMA; PUTTMAN, MAX',
    'SEGURA ISET (ESPIS17) FERNANDEZ FUERTES MARCOS (ESPMM9F93': 'SEGURA, ISET; FERNANDEZ FUERTES, MARCOS',
    'ASCHIERI ANDREA (SUIAA8) CAMUSSO ANJA (GERAC8)': 'ASCHIERI, ANDREA; CAMUSSO, ANJA',
    'YADAV EKTA (INDEY2) BHAIYA KARTHIK (INDKB4)': 'YADAV, EKTA; BHAIYA, KARTHIK',
    'TINDALE DANIEL (GBRDT42) HEMMING HEBE (GBRHH32)': 'TINDALE, DANIEL; HEMMING, HEBE',
    'MARTINSEN NICHOLAS FADLE (NORNF1)M94 MORTENSEN MARTINE STELLER (NORMSF29)4': 'MARTINSEN, NICHOLAS FADLE; MORTENSEN, MARTINE STELLER',
    'HIRSCH ARTO (ITAAH7) ORSOLINI ELETTRA (ITAEO8)': 'HIRSCH, ARTO; ORSOLINI, ELETTRA'
}

In [132]:
df2 = pd.read_csv("../../arquivo_2.CSV", sep=";", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df2)):
    data = list(df2.iloc[each_athlete])
    for each_regata in range(8, 24):
        list_of_data.append([data[0], data[2].upper(), data[1].split(" ")[0], f"Q{each_regata - 7}", data[each_regata], data[7], data[6], "Nacra 17", "Semaine Olympique Francaise De Voile 2022"])

df2_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df2_auxi["Pontuação Regata"] = df2_auxi["Pontuação Regata"].apply(arruma_pontuacao)
df2_auxi["Athlete"] = df2_auxi["Athlete"].apply(arruma_nome_valor)
df2_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"TITA RUGGERO, BANTI CATERINA",ITA,Q1Q,1,42,36,Nacra 17,Semaine Olympique Francaise De Voile 2022
1,1,"TITA RUGGERO, BANTI CATERINA",ITA,Q2Q,5,42,36,Nacra 17,Semaine Olympique Francaise De Voile 2022
2,1,"TITA RUGGERO, BANTI CATERINA",ITA,Q3Q,4,42,36,Nacra 17,Semaine Olympique Francaise De Voile 2022
3,1,"TITA RUGGERO, BANTI CATERINA",ITA,Q4Q,4,42,36,Nacra 17,Semaine Olympique Francaise De Voile 2022
4,1,"TITA RUGGERO, BANTI CATERINA",ITA,Q5Q,1,42,36,Nacra 17,Semaine Olympique Francaise De Voile 2022

## 49er	Trofeo S.A.R Princesa Sofia 2015

In [36]:
df3 = pd.read_csv("../../arquivo_3.CSV", sep=";", encoding='iso-8859-1')
df3

list_of_data = list()
for each_athlete in range(len(df3)):
    data = list(df3.iloc[each_athlete])
    for each_regata in range(5, 19):
        list_of_data.append([data[0], data[2].upper(), data[1].split(" ")[0], f"{each_regata - 4}Q", data[each_regata], data[4], data[3], "49ER", "Trofeo S.A.R Princesa Sofia 2015"])

df3_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df3_auxi["Athlete"] = df3_auxi["Athlete"].apply(arruma_nome)
df3_auxi.head(5)

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"PETER BURLING , BLAIR TUKE",NZL,1Q,1,76,50,49ER,Trofeo S.A.R Princesa Sofia 2015
1,1,"PETER BURLING , BLAIR TUKE",NZL,2Q,1,76,50,49ER,Trofeo S.A.R Princesa Sofia 2015
2,1,"PETER BURLING , BLAIR TUKE",NZL,3Q,2,76,50,49ER,Trofeo S.A.R Princesa Sofia 2015
3,1,"PETER BURLING , BLAIR TUKE",NZL,4Q,3,76,50,49ER,Trofeo S.A.R Princesa Sofia 2015
4,1,"PETER BURLING , BLAIR TUKE",NZL,5Q,1,76,50,49ER,Trofeo S.A.R Princesa Sofia 2015

## 49erFX	Trofeo S.A.R Princesa Sofia 2015

In [47]:
df4 = pd.read_csv("../../arquivo_4.CSV", sep=";", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df4)):
    data = list(df4.iloc[each_athlete])
    for each_regata in range(5, 19):
        try:
            list_of_data.append([data[0], data[2].upper().replace(" / ", ", "), data[1].split(" ")[0], f"{each_regata - 4}Q", arruma_pontuacao(data[each_regata]), data[4], data[3], "49ERFX", "Trofeo S.A.R Princesa Sofia 2015"])
        except:
            continue

df4_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df4_auxi.head(5)

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"MAIKEN FOGHT SCHÜTT, ANNE-JULIE FOGHT SCHÜTT",DEN,1Q,4,84,69,49ERFX,Trofeo S.A.R Princesa Sofia 2015
1,1,"MAIKEN FOGHT SCHÜTT, ANNE-JULIE FOGHT SCHÜTT",DEN,2Q,1,84,69,49ERFX,Trofeo S.A.R Princesa Sofia 2015
2,1,"MAIKEN FOGHT SCHÜTT, ANNE-JULIE FOGHT SCHÜTT",DEN,3Q,14,84,69,49ERFX,Trofeo S.A.R Princesa Sofia 2015
3,1,"MAIKEN FOGHT SCHÜTT, ANNE-JULIE FOGHT SCHÜTT",DEN,4Q,1,84,69,49ERFX,Trofeo S.A.R Princesa Sofia 2015
4,1,"MAIKEN FOGHT SCHÜTT, ANNE-JULIE FOGHT SCHÜTT",DEN,5Q,6,84,69,49ERFX,Trofeo S.A.R Princesa Sofia 2015

## 49er	Trofeo S.A.R Princesa Sofia 2016

In [55]:
df5 = pd.read_csv("../../arquivo_5.CSV", sep=";", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df5)):
    data = list(df5.iloc[each_athlete])
    for each_regata in range(5, 21):
        try:
            list_of_data.append([data[0], data[2].upper().replace(" / ", ", "), data[1].split(" ")[0], f"{each_regata - 4}Q", arruma_pontuacao(data[each_regata]), data[4], data[3], "49ER", "Trofeo S.A.R Princesa Sofia 2016"])
        except:
            continue

df5_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df5_auxi.head(5)

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"RYAN SEATON, MATT MCGOVERN",IRL,1Q,8,90,75,49ER,Trofeo S.A.R Princesa Sofia 2016
1,1,"RYAN SEATON, MATT MCGOVERN",IRL,2Q,2,90,75,49ER,Trofeo S.A.R Princesa Sofia 2016
2,1,"RYAN SEATON, MATT MCGOVERN",IRL,3Q,1,90,75,49ER,Trofeo S.A.R Princesa Sofia 2016
3,1,"RYAN SEATON, MATT MCGOVERN",IRL,4Q,2,90,75,49ER,Trofeo S.A.R Princesa Sofia 2016
4,1,"RYAN SEATON, MATT MCGOVERN",IRL,5Q,6,90,75,49ER,Trofeo S.A.R Princesa Sofia 2016

## 49erFX	Trofeo S.A.R Princesa Sofia 2016

In [35]:
df6 = pd.read_csv("../../arquivo_6.CSV", sep=";", encoding='iso-8859-1')
list_of_data = list()
for i in range(0, len(df6), 2):
    data_0 = list(df6.iloc[i])
    data_1 = list(df6.iloc[i + 1])
    list_of_data.append(data_0[0:5] + data_1[5:])

list_of_data_oficial = list()
for i in range(0, len(list_of_data)):
    for j in range(5, 21):
        list_aux = list()
        list_aux.append(int(list_of_data[i][0]))
        list_aux.append(str(list_of_data[i][2]).replace(" / ", ", "))
        list_aux.append(str(list_of_data[i][1]).split(" ")[0])
        list_aux.append(f"Q{j - 4}")
        try:
            list_aux.append(arruma_pontuacao(int(list_of_data[i][j])))
        except:
            continue
        list_aux.append(float(str(list_of_data[i][3]).replace(",", ".")))
        list_aux.append(float(str(list_of_data[i][4]).replace(",", ".")))
        list_aux.append("49ERFX")
        list_aux.append("Trofeo S.A.R Princesa Sofia 2016")
        list_of_data_oficial.append(list_aux)

df6_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data_oficial)
df6_auxi

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"Annemiek Bekkering, Annette Duetz",NED,Q1,1,61.0,71.0,49ERFX,Trofeo S.A.R Princesa Sofia 2016
1,1,"Annemiek Bekkering, Annette Duetz",NED,Q2,1,61.0,71.0,49ERFX,Trofeo S.A.R Princesa Sofia 2016
2,1,"Annemiek Bekkering, Annette Duetz",NED,Q3,5,61.0,71.0,49ERFX,Trofeo S.A.R Princesa Sofia 2016
3,1,"Annemiek Bekkering, Annette Duetz",NED,Q4,(10),61.0,71.0,49ERFX,Trofeo S.A.R Princesa Sofia 2016
4,1,"Annemiek Bekkering, Annette Duetz",NED,Q5,3,61.0,71.0,49ERFX,Trofeo S.A.R Princesa Sofia 2016
...,...,...,...,...,...,...,...,...,...
513,34,"Enia Nincevic, Marina Dujmovic",CRO,Q11,35,490.0,525.0,49ERFX,Trofeo S.A.R Princesa Sofia 2016
514,34,"Enia Nincevic, Marina Dujmovic",CRO,Q12,35,490.0,525.0,49ERFX,Trofeo S.A.R Princesa Sofia 2016
515,34,"Enia Nincevic, Marina Dujmovic",CRO,Q13,35,490.0,525.0,49ERFX,Trofeo S.A.R Princesa Sofia 2016
516,34,"Enia Nincevic, Marina Dujmovic",CRO,Q14,35,490.0,525.0,49ERFX,Trofeo S.A.R Princesa Sofia 2016
517,34,"Enia Nincevic, Marina Dujmovic",CRO,Q15,35,490.0,525.0,49ERFX,Trofeo S.A.R Princesa Sofia 2016

## 49er	Trofeo S.A.R Princesa Sofia 2017

In [178]:
atletas = {
    "PETERS, JAMES, HISC STERRITT, FYNN, LMSC": "PETERS, JAMES; STERRITT, FYNN",
    "BOTIN LE CHEVER, DIEGO /\nLOPEZ MARRA, IAGO, CLUB": "BOTIN LE CHEVER, DIEGO; LOPEZ MARRA, IAGO",
    "FLETCHER-SCOTT, DYLAN, BITHELL, STUART, BRITISH": "FLETCHER-SCOTT, DYLAN; BITHELL, STUART",
    "LANGE, YAGO, CNSI/ENARD, LANGE, KLAUS, CNSI/ENARD /": "LANGE, YAGO; LANGE, KLAUS",
    "LEFEBVRE, YANNICK, VVW PELSMAEKERS, TOM, VVW": "LEFEBVRE, YANNICK; PELSMAEKERS, TOM",
    "ALONSO TELLECHEA, FEDERICO ALONSO TELLECHEA, ARTURO /": "ALONSO TELLECHEA, FEDERICO; ALONSO TELLECHEA, ARTURO",
    "FISCHER, TIM, NRV\nGRAF, FABIAN, VSAW": "FISCHER, TIM; GRAF, FABIAN",
    "BUKSAK, DOMINIK, AZS AWFIS WIERZBICKI, SZYMON, AZS": "BUKSAK, DOMINIK; WIERZBICKI, SZYMON",
    "SYLVAN, CARL, GKSS ANJEMARK, MARCUS, KSSS": "SYLVAN, CARL; ANJEMARK, MARCUS",
    "ROBLES, CARLOS GRAEL, MARCO": "ROBLES, CARLOS; GRAEL, MARCO",
    "SCHEIDT, ROBERT, ICRJ BORGES, GABRIEL, ICRJ": "SCHEIDT, ROBERT; BORGES, GABRIEL",
    "HAWKINS, JACK\nTHOMAS, CHRIS": "HAWKINS, JACK; THOMAS, CHRIS",
    "WESTBERG, HANNES, GKSS BOMAN, ALBIN, GKSS": "WESTBERG, HANNES; BOMAN, ALBIN",
    "RUAL, LUCAS, BATISYL, IBA AMOROS, EMILE, BATISYL /": "RUAL, LUCAS; AMOROS, EMILE",
    "FISCHER, KÉVIN, BESSE JAUVIN, YANN, BESSE CNBPP": "FISCHER, KÉVIN; JAUVIN, YANN",
    "CRIVELLI VISCONTI, UBERTO /\nMOLINERIS, UMBERTO /": "CRIVELLI VISCONTI, UBERTO; MOLINERIS, UMBERTO",
    "BILDSTEIN, BENJAMIN, YACHT HUSSL, DAVID, YACHT CLUB": "BILDSTEIN, BENJAMIN; HUSSL, DAVID",
    "RASK, FREDERIK, SKOVSHOVED BUHL, NIKOLAJ HOFFMANN /": "RASK, FREDERIK; BUHL, NIKOLAJ",
    "SCHNEITER, SÉBASTIEN, SNG, CUJEAN, LUCIEN, SNG, TEAM": "SCHNEITER, SÉBASTIEN; CUJEAN, LUCIEN",
    "MEGGENDORFER, JAKOB /\nSPRANGER, ANDREAS, SEGEL-": "MEGGENDORFER, JAKOB; SPRANGER, ANDREAS",
    "TAYLOR, CHRIS BATTEN, SAM": "TAYLOR, CHRIS; BATTEN, SAM",
    "CARSTENSEN, NILS, FRIGGE, JAN, MAKANI": "CARSTENSEN, NILS; FRIGGE, JAN",
    "JANEZIC, PETER, JK MIPC PODLOGAR, ANZE, JK MIPC": "JANEZIC, PETER; PODLOGAR, ANZE",
    "MOLLERUS, ANDREW MOLLERUS, MATTHEW": "MOLLERUS, ANDREW; MOLLERUS, MATTHEW",
    "FISCHER, ERWAN, CNBPP, JULIEN, THIBAULT, CNBPP /": "FISCHER, ERWAN; JULIEN, THIBAULT",
    "CHEKH, YAN, SAILING ACADEMY ZOTOV, IVAN, SAILING ACADEMY": "CHEKH, YAN; ZOTOV, IVAN",
    "SEATON, RYAN /\nGUILFOYLE, SEAFRA, WAVE +": "SEATON, RYAN; GUILFOYLE, SEAFRA",
    "STEPHENSEN LÜBECK, MADS\nBAY, MARCUS, KDY/HELLERUP": "STEPHENSEN LÜBECK, MADS; BAY, MARCUS",
    "HEDSTRÖM, FRITIOF, KIIMA HAMEL, OTTO, KIIMA": "HEDSTRÖM, FRITIOF; HAMEL, OTTO",
    "FILIPOWICZ, PRZEMYSLAW, NOWAK, JACEK, AZS UWM": "FILIPOWICZ, PRZEMYSLAW; NOWAK, JACEK",
    "PRZYBYTEK, LUKASZ, AWFIS KOLODZINSKI, PAWEL": "PRZYBYTEK, LUKASZ; KOLODZINSKI, PAWEL",
    "LLOYD WILLIAMS, HENRY, ALLOWAY, WILL, HARKEN,": "LLOYD WILLIAMS, HENRY; ALLOWAY, WILL",
    "FURUYA, SHINGEN HACHIYAMA, SHINJI": "FURUYA, SHINGEN; HACHIYAMA, SHINJI",
    "HEMDORFF, TOBIAS NIELSEN, MARKUS OLIVER": "HEMDORFF, TOBIAS; NIELSEN, MARKUS OLIVER",
    "FEDRIGUCCI, HUGO, LA\nAUBRIOT, VIRGIL, LA": "FEDRIGUCCI, HUGO; AUBRIOT, VIRGIL",
    "SLAP, LEVI, RBSC, VYF-VVW\nD'HONDT, JOACHIM, VVW": "SLAP, LEVI; D'HONDT, JOACHIM",
    "VAN STEKELENBORG, LARS\nBRAMERVAER, DANIËL ROBERT": "VAN STEKELENBORG, LARS; BRAMERVAER, DANIËL ROBERT",
    "NOSOV, KONSTANTIN, SFYC, GAIDAENKO, ALEKSANDR": "NOSOV, KONSTANTIN; GAIDAENKO, ALEKSANDR",
    "HISCOCK, SIMON, WPNSA\nBUDDEN, DANIEL, WPNSA": "HISCOCK, SIMON; BUDDEN, DANIEL",
    "MATHISEN, TOMAS, RISOR SAIL MATHISEN, MADS, RISOR SAIL": "MATHISEN, TOMAS; MATHISEN, MADS",
    "DICKSON, ROBERT WADDILOVE, SEAN": "DICKSON, ROBERT; WADDILOVE, SEAN",
    "HANSEN, MICHAEL SLETTEN, MATHIAS": "HANSEN, MICHAEL; SLETTEN, MATHIAS",
    "VAN DONGEN, CAS VUGT, VAN": "VAN DONGEN, CAS; VUGT, VAN",
    "SILÉN, VICTOR, NJK SILEN, CHRISTOFFER, NJK": "SILÉN, VICTOR; SILEN, CHRISTOFFER",
    "HOUTMAN, SCIPIO BECKER, ROBIN": "HOUTMAN, SCIPIO; BECKER, ROBIN",
    "ROIHU, JUUSO, TALLINN YACHT ROIHU, HENRI, TALLINN YACHT": "ROIHU, JUUSO; ROIHU, HENRI",
    "MEIER-ANDERSEN, KLAES BAAD NIELSEN, CARL EMIL": "MEIER-ANDERSEN, KLAES; NIELSEN, CARL EMIL",
    "DONNELLY, SEÁN DONNELLY, TADGH": "DONNELLY, SEÁN; DONNELLY, TADGH",
    "BUGALLO ARRIOLA, LUIS, REAL\nLORENZO ROMAN, JORGE, REAL": "BUGALLO ARRIOLA, LUIS; LORENZO ROMAN, JORGE",
    "HASSETT, MARK, WET O'DRISCOLL, OISIN, WET": "HASSETT, MARK; O'DRISCOLL, OISIN",
    "AL HADI, MUSAB, OMANSAIL, AL RAHSDI, HASHIM, OMAN": "AL HADI, MUSAB; AL RAHSDI, HASHIM",
    "SALSKOV-IVERSEN, JOAKIM HEIDE-JORGENSEN, NICKLAS /": "SALSKOV-IVERSEN, JOAKIM; HEIDE-JORGENSEN, NICKLAS",
    "PEACH, MORGAN, RTYC HAWES, RHOS, RTYC": "PEACH, MORGAN; HAWES, RHOS",
    "HAENSSLER, MAX HAENSSLER, FRED": "HAENSSLER, MAX; HAENSSLER, FRED",
    "BACHELIN, MAXIME DE PLANTA, ARNO": "BACHELIN, MAXIME; DE PLANTA, ARNO",
    "MARCINIAK, JAN, KS AQUA JAROCKI, ROBERT, AZS POZN??": "MARCINIAK, JAN; JAROCKI, ROBERT",
    "WUNDERLE, MANUEL WIELAND, FELIX": "WUNDERLE, MANUEL; WIELAND, FELIX",
    "CERDAN MING, VERNON, REAL TORRADO MARTINEZ, ANTONIO": "CERDAN MING, VERNON; TORRADO MARTINEZ, ANTONIO",
    "ROISLAND, MORTEN, RISØR SKJONBERG, STEFFEN, RISØR": "ROISLAND, MORTEN; SKJONBERG, STEFFEN"
}

In [179]:
df7 = pd.read_csv("../../arquivo_7.CSV", sep=";", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df7)):
    data = list(df7.iloc[each_athlete])
    for each_regata in range(4, 19):
        try:
            list_of_data.append([data[0], data[3].upper().replace(" / ", ", "), data[1].split(" ")[0], f"{each_regata - 3}Q", data[each_regata], data[19], data[20], "49ER", "Trofeo S.A.R Princesa Sofia 2017"])
        except:
            continue

df7_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df7_auxi["Athlete"] = df7_auxi["Athlete"].apply(arruma_nome_valor)
df7_auxi.head(5)

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"PETERS JAMES, STERRITT FYNN",GBR,1Q,3,84,68,49ER,Trofeo S.A.R Princesa Sofia 2017
1,1,"PETERS JAMES, STERRITT FYNN",GBR,2Q,5,84,68,49ER,Trofeo S.A.R Princesa Sofia 2017
2,1,"PETERS JAMES, STERRITT FYNN",GBR,3Q,1,84,68,49ER,Trofeo S.A.R Princesa Sofia 2017
3,1,"PETERS JAMES, STERRITT FYNN",GBR,4Q,3,84,68,49ER,Trofeo S.A.R Princesa Sofia 2017
4,1,"PETERS JAMES, STERRITT FYNN",GBR,5Q,9,84,68,49ER,Trofeo S.A.R Princesa Sofia 2017

## 49erFX	Trofeo S.A.R Princesa Sofia 2017

In [118]:
atletas = {
    "JURCZOK,\nLORENZ, ANIKA": "JURCZOK, ANIKA; LORENZ, ANIKA",
    "NÆSS, HELENE RØNNINGEN,": "NÆSS, HELENE; RØNNINGEN, HELENE",
    "LIM, KIMBERLY LOW, CECILIA": "LIM, KIMBERLY; LOW, CECILIA",
    "WESTER, KLARA NETZLER,": "WESTER, KLARA; NETZLER, KLARA",
    "SEBESI, LILI / DUBOIS,": "SEBESI, LILI; DUBOIS, LILI",
    "DOBSON,\nTIDEY, SASKIA": "DOBSON, SASKIA; TIDEY, SASKIA",
    "SVENSSON, JONSSON,": "SVENSSON, JONSSON",
    "RAGGIO, BERGAMASCHI": "RAGGIO, BERGAMASCHI",
    "MUNTE, CARLA / MUNTE, MARTA": "MUNTE, CARLA; MUNTE, MARTA",
    "VAN  VAN DER": "VAN DER",
    "SCHÜTT, NIELSBY, IBEN": "SCHÜTT, IBEN; NIELSBY, IBEN",
    "JANMAAT, MARCK,": "JANMAAT, MARCK",
    "BOSSARD, COMPAN, AUDE": "BOSSARD, AUDE; COMPAN, AUDE",
    "YAMAZAKI, TAKANO, SENA": "YAMAZAKI, SENA; TAKANO, SENA",
    "KROGH, EMSVANG,": "KROGH, EMSVANG",
    "BOBECK, VILMA TENGSTRÖM,": "BOBECK, VILMA; TENGSTRÖM, VILMA",
    "FRANK, TANJA ABICHT,": "FRANK, TANJA; ABICHT, TANJA",
    "SUÁREZ,\nALONSO, MARÍA": "SUÁREZ, MARÍA; ALONSO, MARÍA",
    "COUVERT, ENGBERTS,": "COUVERT, ENGBERTS",
    "TAMMISTE,\nSEPP, ANNA": "TAMMISTE, ANNA; SEPP, ANNA",
    "CHALMBET,\nLOBRY, ENZO /": "CHALMBET, ENZO; LOBRY, ENZO",
    "LAMAY, HOLSTE, KIM": "LAMAY, KIM; HOLSTE, KIM",
    "BRICKWOOD, ALDRIDGE,": "BRICKWOOD, ALDRIDGE",
    "NAUDY, YANNIS GUEZ, MARTIN /": "NAUDY, YANNIS; GUEZ, MARTIN",
    "ROMANIUK, JANKOWIAK,": "ROMANIUK, JANKOWIAK",
    "BERGAMO, GERMANI,": "BERGAMO, GERMANI",
    "ZIELINSKA, ZIELINSKA,": "ZIELINSKA, ZIELINSKA",
    "VADUROVA, TKADLECOVA,": "VADUROVA, TKADLECOVA",
    "KOHLENDORFE FARTHOFER,": "KOHLENDORFE; FARTHOFER",
    "MILLS, HANNAH SIGN, ALAIN /": "MILLS, HANNAH; SIGN, ALAIN"
}

In [119]:
df8 = pd.read_csv("../../arquivo_8.CSV", sep=";", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df8)):
    data = list(df8.iloc[each_athlete])
    for each_regata in range(4, 21):
        try:
            list_of_data.append([data[0], data[3].upper(), data[1].split(" ")[0], f"{each_regata - 3}Q", data[each_regata], data[21], data[22], "49ERFX", "Trofeo S.A.R Princesa Sofia 2017"])
        except:
            continue

df8_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df8_auxi["Athlete"] = df8_auxi["Athlete"].apply(arruma_nome_valor)
df8_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"JURCZOK ANIKA, LORENZ ANIKA",GER,1Q,12,78,47,49ERFX,Trofeo S.A.R Princesa Sofia 2017
1,1,"JURCZOK ANIKA, LORENZ ANIKA",GER,2Q,1,78,47,49ERFX,Trofeo S.A.R Princesa Sofia 2017
2,1,"JURCZOK ANIKA, LORENZ ANIKA",GER,3Q,5,78,47,49ERFX,Trofeo S.A.R Princesa Sofia 2017
3,1,"JURCZOK ANIKA, LORENZ ANIKA",GER,4Q,1,78,47,49ERFX,Trofeo S.A.R Princesa Sofia 2017
4,1,"JURCZOK ANIKA, LORENZ ANIKA",GER,5Q,2,78,47,49ERFX,Trofeo S.A.R Princesa Sofia 2017

## 49er	Trofeo S.A.R Princesa Sofia 2018

In [102]:
atletas = {
    'FLETCHER-SCOTT,\nBITHELL, STUART /': 'FLETCHER-SCOTT, STUART; BITHELL, STUART',
    'FREI, MATHIEU / DELPECH, NOÉ /': 'FREI, MATHIEU; DELPECH, NOÉ',
    'PRZYBYTEK, LUKASZ KOLODZINSKI, PAWEL /': 'PRZYBYTEK, LUKASZ; KOLODZINSKI, PAWEL',
    'BUKSAK, DOMINIK WIERZBICKI, SZYMON': 'BUKSAK, DOMINIK; WIERZBICKI, SZYMON',
    'ALONSO TELLECHEA, ALONSO TELLECHEA,': 'ALONSO TELLECHEA, ALONSO; TELLECHEA, ALONSO',
    'SCHNEITER, SÉBASTIEN CUJEAN, LUCIEN /': 'SCHNEITER, SÉBASTIEN; CUJEAN, LUCIEN',
    'WARRER, JONAS / KDY PRECHT JENSEN,': 'WARRER, JONAS; KDY PRECHT JENSEN',
    'FISCHER, KÉVIN / JAUVIN, YANN / BESSE': 'FISCHER, KÉVIN; JAUVIN, YANN; BESSE',
    'RUAL, LUCAS / AMOROS, EMILE / CLUB': 'RUAL, LUCAS; AMOROS, EMILE; CLUB',
    'STEPHENSEN LÜBECK, HOFFMANN BUHL,': 'STEPHENSEN LÜBECK, HOFFMANN; BUHL, HOFFMANN',
    'HEDSTRÖM, FRITIOF / HAMEL, OTTO / GKSS /': 'HEDSTRÖM, FRITIOF; HAMEL, OTTO; GKSS',
    'CHEKH, YAN / SAILING ZOTOV, IVAN / SAILING': 'CHEKH, YAN; ZOTOV, IVAN',
    'FANTELA, SIME / FANTELA, MIHOVIL /': 'FANTELA, SIME; FANTELA, MIHOVIL',
    'SCHMIDT, JUSTUS / THE PLÖSSEL, THOMAS / THE': 'SCHMIDT, JUSTUS; THE PLÖSSEL, THOMAS; THE',
    'PLAZZI MARZOTTO,\nTESEI, ANDREA': 'PLAZZI MARZOTTO, ANDREA; TESEI, ANDREA',
    'RASK, FREDERIK / BAY, MARCUS / HS': 'RASK, FREDERIK; BAY, MARCUS; HS',
    'CRIVELLI VISCONTI,\nTOGNI, GIANMARCO /': 'CRIVELLI VISCONTI, GIANMARCO; TOGNI, GIANMARCO',
    'SIBELLO, PIETRO / CAVALLI, GIACOMO /': 'SIBELLO, PIETRO; CAVALLI, GIACOMO',
    'CHEGLOV, DENIS / CSP\nKARACHOV, PAVEL /': 'CHEGLOV, DENIS; KARACHOV, PAVEL',
    'P SYLVAN, CARL\nBOMAN, ALBIN': 'P SYLVAN, CARL; BOMAN, ALBIN',
    'BOTÍN LE CHEVER, LÓPEZ MARRA, IAGO /': 'BOTÍN LE CHEVER, IAGO; LÓPEZ MARRA, IAGO',
    'LEFEBVRE, YANNICK / PELSMAEKERS, TOM /': 'LEFEBVRE, YANNICK; PELSMAEKERS, TOM',
    'FISCHER, ERWAN / JULIEN, THIBAULT /': 'FISCHER, ERWAN; JULIEN, THIBAULT',
    'HAWKINS, WILLIAM THOMAS, CHRISTOPHER': 'HAWKINS, WILLIAM THOMAS; CHRISTOPHER',
    'HOUTMAN, SCIPIO / VAN VUGT, PIM': 'HOUTMAN, SCIPIO; VAN VUGT, PIM',
    'MEGGENDORFER,\nSPRANGER, ANDREAS /': 'MEGGENDORFER, ANDREAS; SPRANGER, ANDREAS',
    'TAYLOR, CHRIS / RYA BATTEN, SAM / RYA': 'TAYLOR, CHRIS; RYA BATTEN, SAM; RYA',
    'CARSTENSEN, NILS / FRIGGE, JAN / MAKANI': 'CARSTENSEN, NILS; FRIGGE, JAN; MAKANI',
    'SEATON, RYAN\nGUILFOYLE, SÉAFRA': 'SEATON, RYAN; GUILFOYLE, SÉAFRA',
    'NAEL, GWENDAL / CLÉMENT, PEQUIN / SRR': 'NAEL, GWENDAL; CLÉMENT, PEQUIN; SRR',
    'LAMBRIEX, BART\nROBERT , DANIËL': 'LAMBRIEX, BART; ROBERT, DANIËL',
    'FARIEN, PAUL / KIELER KLÖSEL, MIRCO / KIELER': 'FARIEN, PAUL; KIELER KLÖSEL, MIRCO; KIELER',
    'BACHELIN, MAXIME / DE PLANTA, ARNO /': 'BACHELIN, MAXIME; DE PLANTA, ARNO',
    'MUNRO, GILLIES / RFYC HARRIS, DANIEL / RFYC': 'MUNRO, GILLIES; RFYC HARRIS, DANIEL; RFYC',
    'BUGALLO ARRIOLA, LORENZO ROMAN,': 'BUGALLO ARRIOLA, LORENZO ROMAN',
    'FERRARESE, SIMONE GALATI, VALERIO': 'FERRARESE, SIMONE; GALATI, VALERIO',
    'HANSEN, MICHAEL SLETTEN, MATHIAS': 'HANSEN, MICHAEL; SLETTEN, MATHIAS',
    'BJØRNHOLT, DANIEL HEIDE-JOERGENSEN,': 'BJØRNHOLT, DANIEL; HEIDE-JOERGENSEN, DANIEL',
    'DONNELLY, SEÁN / DONNELLY, TADGH': 'DONNELLY, SEÁN; DONNELLY, TADGH',
    'STINGELE, MAXIMILIAN SCHEEL, LINOV / KIELER': 'STINGELE, MAXIMILIAN; SCHEEL, LINOV; KIELER',
    'DICKSON, ROBERT WADDILOVE, SEÁN': 'DICKSON, ROBERT; WADDILOVE, SEÁN',
    'MEIER-ANDERSEN, BAAD NIELSEN, CARL': 'MEIER-ANDERSEN, BAAD; NIELSEN, CARL',
    'CHAMBET, LOUIS LOBRY, ENZO / YCPR': 'CHAMBET, LOUIS; LOBRY, ENZO; YCPR',
    'LAMAY, GWENDAL / NRV WILLIM, LUKE / NRV /': 'LAMAY, GWENDAL; WILLIM, LUKE; NRV',
    'SATTLER, JOHANNES / SATTLER, ANTON': 'SATTLER, JOHANNES; SATTLER, ANTON',
    'BAUMANN, MARCO FLACHBERGER, JAKOB': 'BAUMANN, MARCO; FLACHBERGER, JAKOB',
    'NOSOV, KONSTANTIN / GAIDAENKO, ALEKSANDR': 'NOSOV, KONSTANTIN; GAIDAENKO, ALEKSANDR',
    'JANEZIC, PETER LIN / JK PRINCIC, SEBASTIAN /': 'JANEZIC, PETER LIN; PRINCIC, SEBASTIAN',
    'FREDEGUCCI, HUGO /\nGUEZ, MARTIN / YCPR /': 'FREDEGUCCI, HUGO; GUEZ, MARTIN; YCPR',
    'GRUMMETT, JAMES / BUDDEN, DANIEL /': 'GRUMMETT, JAMES; BUDDEN, DANIEL',
    'MATHISEN, TOMAS / MATHISEN, MADS /': 'MATHISEN, TOMAS; MATHISEN, MADS',
    'SILÉN, VICTOR / EBM SILÉN, CHRISTOFFER /': 'SILÉN, VICTOR; EBM SILÉN, CHRISTOFFER',
    'PEACH, MORGAN HAWES, RHOS': 'PEACH, MORGAN; HAWES, RHOS',
    "HASSETT, MARK / O'DRISCOLL, OISIN /": "HASSETT, MARK; O'DRISCOLL, OISIN",
    'ROIHU, JUUSO / TALLINN ROIHU, HENRI / TALLINN': 'ROIHU, JUUSO; ROIHU, HENRI',
    'KAMBOURIDIS,\nNOUTSOS, STYLIANOS /': 'KAMBOURIDIS, NOUTSOS; NOUTSOS, STYLIANOS',
    'CAMPOLI, EDOARDO CIANCHI, LORENZO': 'CAMPOLI, EDOARDO; CIANCHI, LORENZO',
    'NAUDY, YANNIS / CNVA AUBRIOT, VIRGIL / ASPTT': 'NAUDY, YANNIS; AUBRIOT, VIRGIL',
    'MAS I ROMERO, NIL /\nALEGRE, SANTIAGO /': 'MAS I ROMERO, NIL; ALEGRE, SANTIAGO',
    'ENGSTRÖM, OSCAR / WESTBERG, HUGO /': 'ENGSTRÖM, OSCAR; WESTBERG, HUGO',
    'BARRIO GARCÍA, NÚÑEZ TORRES, FRAN /': 'BARRIO GARCÍA, NÚÑEZ; TORRES, FRAN',
    'ENRIQUE, LUJÁN MORA / ANTONIO, TORRADO': 'ENRIQUE, LUJÁN MORA; ANTONIO, TORRADO',
    'MIKKOLA, MARTIN / HSS IHAMUOTILA, MARKUS /': 'MIKKOLA, MARTIN; HSS IHAMUOTILA, MARKUS',
    'BEDIA, JUAN EMIGDIO / PEREZ, VICTOR / REAL': 'BEDIA, JUAN EMIGDIO; PEREZ, VICTOR',
    'REGNAULT, MÉRIK / GASQUET, ARISTIDE /': 'REGNAULT, MÉRIK; GASQUET, ARISTIDE',
    'HESSE, LUKAS / SEVERENS, LEON /': 'HESSE, LUKAS; SEVERENS, LEON',
    'ROYLA, PHILIPP / KIELER HEINRICH, TOM /': 'ROYLA, PHILIPP; KIELER HEINRICH, TOM',
    'PIETZCKER, PAUL / -\nVON OPPEN, LINUS / -': 'PIETZCKER, PAUL; VON OPPEN, LINUS',
    'AKER, JOSTEIN / UNDRUM, JACOB /': 'AKER, JOSTEIN; UNDRUM, JACOB',
    'HAENSSLER, MAX HAENSSLER, FRED': 'HAENSSLER, MAX; HAENSSLER, FRED',
    'STÅLHEIM, JESPER / CHRISTENSSEN, HUGO': 'STÅLHEIM, JESPER; CHRISTENSSEN, HUGO',
    'GARCÍA PORTELA, FERNANDEZ FUERTES,': 'GARCÍA PORTELA, FERNANDEZ FUERTES',
    'WESTBERG, HANNES / TBC, TBC / ROYAL': 'WESTBERG, HANNES; TBC; ROYAL'
}

In [104]:
df9 = pd.read_csv("../../arquivo_9.CSV", sep=";", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df9)):
    data = list(df9.iloc[each_athlete])
    for each_regata in range(4, 20):
        try:
            list_of_data.append([data[0], data[3].upper(), data[1].split(" ")[0], f"{each_regata - 3}Q", data[each_regata], data[20], data[21], "49ER", "Trofeo S.A.R Princesa Sofia 2018"])
        except:
            continue

df9_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df9_auxi["Athlete"] = df9_auxi["Athlete"].apply(arruma_nome_valor)
df9_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"FLETCHER-SCOTT STUART, BITHELL STUART",GBR,1Q,12,121,96,49ER,Trofeo S.A.R Princesa Sofia 2018
1,1,"FLETCHER-SCOTT STUART, BITHELL STUART",GBR,2Q,1,121,96,49ER,Trofeo S.A.R Princesa Sofia 2018
2,1,"FLETCHER-SCOTT STUART, BITHELL STUART",GBR,3Q,5,121,96,49ER,Trofeo S.A.R Princesa Sofia 2018
3,1,"FLETCHER-SCOTT STUART, BITHELL STUART",GBR,4Q,1,121,96,49ER,Trofeo S.A.R Princesa Sofia 2018
4,1,"FLETCHER-SCOTT STUART, BITHELL STUART",GBR,5Q,1,121,96,49ER,Trofeo S.A.R Princesa Sofia 2018

## 49erFX	Trofeo S.A.R Princesa Sofia 2018

In [116]:
atletas = {
    'BEKKERING, ANNEMIEK DUETZ, ANNETTE /': 'BEKKERING, ANNEMIEK; DUETZ, ANNETTE',
    'VAN AANHOLT, ODILE /\nJONGENS, MARIEKE /': 'VAN AANHOLT, ODILE; JONGENS, MARIEKE',
    'NIELSEN, IDA MARIE THUSGAARD OLSEN,': 'NIELSEN, IDA MARIE; THUSGAARD OLSEN, IDA MARIE',
    'NÆSS, HELENE / RØNNINGEN, MARIE /': 'NÆSS, HELENE; RØNNINGEN, MARIE',
    'HANSEN, JENA MAI / SALSKOV-IVERSEN,': 'HANSEN, JENA MAI; SALSKOV-IVERSEN',
    'WEGUELIN, SOPHIE / AINSWORTH, SOPHIE /': 'WEGUELIN, SOPHIE; AINSWORTH, SOPHIE',
    'WESTER, KLARA / GKSS\nNETZLER, REBECCA /': 'WESTER, KLARA; NETZLER, REBECCA',
    'DOBSON, CHARLOTTE / TIDEY, SASKIA / RYA': 'DOBSON, CHARLOTTE; TIDEY, SASKIA',
    'COUVERT, DEWI / KISTERS, JESSICA': 'COUVERT, DEWI; KISTERS, JESSICA',
    'FRANK, TANJA / UYCNS\nABICHT, LORENA /': 'FRANK, TANJA; ABICHT, LORENA',
    'SCHÜTT, ANNE-JULIE / NIELSBY, IBEN /': 'SCHÜTT, ANNE-JULIE; NIELSBY, IBEN',
    'ZIELINSKA, MADELEINE ZIELINSKA, NADIA /': 'ZIELINSKA, MADELEINE; ZIELINSKA, NADIA',
    'BOSSARD, JULIE / COMPAN, AUDE': 'BOSSARD, JULIE; COMPAN, AUDE',
    'OFFERMAN, WILLEMIJN / ENGBERTS, JUDITH': 'OFFERMAN, WILLEMIJN; ENGBERTS, JUDITH',
    'RAGGIO, MARIA OTTAVIA GERMANI, JANA / CNT': 'RAGGIO, MARIA OTTAVIA; GERMANI, JANA',
    'MIQUEL, AURA / CLUB MIRÓ, NÚRIA / CLUB': 'MIQUEL, AURA; MIRÓ, NÚRIA',
    'BRICKWOOD, MEGAN / ALDRIDGE, ELEANOR /': 'BRICKWOOD, MEGAN; ALDRIDGE, ELEANOR',
    'SUAREZ GONZALEZ,\nRITA ROMÁN, JULIA /': 'SUAREZ GONZALEZ, RITA ROMÁN; JULIA',
    'NINCEVIC, ENIA / JK DE MICHELI-VITTURI,': 'NINCEVIC, ENIA; DE MICHELI-VITTURI',
    'MELZACKA, ALEKSANDRA LOBODA, KINGA / AZS': 'MELZACKA, ALEKSANDRA LOBODA; KINGA',
    'SEBESI, LILI / SOCIETE\nDUBOIS, ALBANE /': 'SEBESI, LILI; DUBOIS, ALBANE',
    'MUNTÉ, CARLA / CLUB MUNTÉ, MARTA / CLUB': 'MUNTÉ, CARLA; MUNTÉ, MARTA',
    'OMARI, CARLOTTA OMARI DISTEFANO, MATILDA /': 'OMARI, CARLOTTA; OMARI DISTEFANO, MATILDA',
    'RUSKOLA, NOORA / NJK\nWULFF, MIKAELA / AUDI': 'RUSKOLA, NOORA; WULFF, MIKAELA',
    'BERGAMO, FRANCESCA SINNO, ALICE': 'BERGAMO, FRANCESCA; SINNO, ALICE',
    'KRONLÖF, SIRRE / EMK\nVALJUS, SELMA / OPS': 'KRONLÖF, SIRRE; VALJUS, SELMA',
    'SCHÖFEGGER, LAURA / BOUSTANI, ANNA /': 'SCHÖFEGGER, LAURA; BOUSTANI, ANNA',
    'VADUROVA, DOMINIKA TKADLECOVA, SARA /': 'VADUROVA, DOMINIKA; TKADLECOVA, SARA',
    'GRÖNBLOM, RONJA EHRNROOTH, SARA': 'GRÖNBLOM, RONJA; EHRNROOTH, SARA',
    'ANDO, NATSUMI / NRV VALENTIEN, FENJA /': 'ANDO, NATSUMI; VALENTIEN, FENJA',
    'NAEF, LIVIA / YACHTCLUB PUHZE, NELIA / LÉRINA': 'NAEF, LIVIA; YACHTCLUB PUHZE, NELIA',
    'TAMMISTE, KÄTLIN / SEPP, ANNA MARIA /': 'TAMMISTE, KÄTLIN; SEPP, ANNA MARIA',
    'IVNÁ, VERONIKA / YC IVNÁ, KATE?INA / YC': 'IVNÁ, VERONIKA; IVNÁ, KATE?INA',
    'DE VREESE, MARIANNE / WITTOCK, SHANA /': 'DE VREESE, MARIANNE; WITTOCK, SHANA',
    'KOHLENDORFER, FARTHOFER, LISA /': 'KOHLENDORFER, LISA; FARTHOFER, LISA',
    'LUNDBERG, RONJA / JOHNSSON, HANNA /': 'LUNDBERG, RONJA; JOHNSSON, HANNA',
    'MEILHAT, EMMA / CNL\nSALOU, CHLOÉ / LES': 'MEILHAT, EMMA; SALOU, CHLOÉ',
    'SHCHEGLOVA,\nKAMAEVA, MARGARITA /': 'SHCHEGLOVA, MARGARITA; KAMAEVA, MARGARITA',
    'GROSS, JULIA / ROYAL AYTON, SARAH / ROYAL': 'GROSS, JULIA; ROYAL AYTON, SARAH',
    'HERNÁNDEZ GARCÍA, ALONSO': 'HERNÁNDEZ GARCÍA, ALONSO',
    'PAYNE, VICTORIA / MASTERMAN, ALICE /': 'PAYNE, VICTORIA; MASTERMAN, ALICE',
    'LOVADINA, MATHILDE / PERNET, LÉA / YCGC': 'LOVADINA, MATHILDE; PERNET, LÉA',
    'BOBECK, VILMA TENGSTRÖM, MALIN /': 'BOBECK, VILMA; TENGSTRÖM, MALIN'
}

In [117]:
df10 = pd.read_csv("../../arquivo_10.CSV", sep=";", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df10)):
    data = list(df10.iloc[each_athlete])
    for each_regata in range(4, 20):
        try:
            list_of_data.append([data[0], data[3].upper(), data[1].split(" ")[0], f"{each_regata - 3}Q", arruma_pontuacao(data[each_regata]), data[20], data[21], "49ERFX", "Trofeo S.A.R Princesa Sofia 2018"])
        except:
            try:
                list_of_data.append([data[0], data[3].upper(), data[1].split(" ")[0], f"{each_regata - 3}Q", data[each_regata], data[20], data[21], "49ERFX", "Trofeo S.A.R Princesa Sofia 2018"])
            except:
                continue

df10_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df10_auxi["Athlete"] = df10_auxi["Athlete"].apply(arruma_nome_valor)
df10_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"BEKKERING ANNEMIEK, DUETZ ANNETTE",NED,1Q,1,62,47,49ERFX,Trofeo S.A.R Princesa Sofia 2018
1,1,"BEKKERING ANNEMIEK, DUETZ ANNETTE",NED,2Q,1,62,47,49ERFX,Trofeo S.A.R Princesa Sofia 2018
2,1,"BEKKERING ANNEMIEK, DUETZ ANNETTE",NED,3Q,8,62,47,49ERFX,Trofeo S.A.R Princesa Sofia 2018
3,1,"BEKKERING ANNEMIEK, DUETZ ANNETTE",NED,4Q,1,62,47,49ERFX,Trofeo S.A.R Princesa Sofia 2018
4,1,"BEKKERING ANNEMIEK, DUETZ ANNETTE",NED,5Q,3,62,47,49ERFX,Trofeo S.A.R Princesa Sofia 2018

## CONCATENAÇÃO

In [263]:
dfs = pd.concat([df1_auxi, df2_auxi, df3_auxi, df4_auxi, df5_auxi, df6_auxi, df7_auxi, df8_auxi, df9_auxi, df10_auxi, ]).reset_index(drop=True)
dfs.dropna(subset=["Pontuação Regata"], inplace=True)

## Arruma Pontuação

In [264]:
pont = {
    '16.0' : '16-0-0',
    -33 : '33-0-1',
    '-30' : '30-0-1',
    -38 : '38-0-1',
    '(61)': '61-0-1',
    '(20)': '20-0-1',
    '3': '3-0-0',
    '1': '1-0-0',
    '(7)': '7-0-1',
    '(14)': '14-0-1',
    '14': '14-0-0',
    '15': '15-0-0',
    '7': '7-0-0',
    '2': '2-0-0',
    'DNF (78)': '78-DNF-1',
    '5': '5-0-0',
    'BFD (78)': '78-BFD-1',
    '17': '17-0-0',
    '(35)': '35-0-1',
    '(41)': '41-0-1',
    '10': '10-0-0',
    'RDG 9.70': '9.70-RDG-0',
    '4': '4-0-0',
    '6': '6-0-0',
    '(29)': '29-0-1',
    '11': '11-0-0',
    '(19)': '19-0-1',
    '(49)': '49-0-1',
    '(9)': '9-0-1',
    '9': '9-0-0',
    '(43)': '43-0-1',
    'BFD (41)': '41-BFD-1',
    '(48)': '48-0-1',
    '(36)': '36-0-1',
    '35': '35-0-0',
    '16': '16-0-0',
    '18': '18-0-0',
    '(17)': '17-0-1',
    '8': '8-0-0',
    '13': '13-0-0',
    '(39)': '39-0-1',
    '19': '19-0-0',
    '(30)': '30-0-1',
    '26': '26-0-0',
    '25': '25-0-0',
    '(28)': '28-0-1',
    '12': '12-0-0',
    '(16)': '16-0-1',
    '27': '27-0-0',
    '(45)': '45-0-1',
    'BFD 41': '41-BFD-0',
    '(11)': '11-0-1',
    '(53)': '53-0-1',
    '(21)': '21-0-1',
    '(60)': '60-0-1',
    'RET (78)': '78-RET-1',
    '24': '24-0-0',
    '(25)': '25-0-1',
    '23': '23-0-0',
    '(44)': '44-0-1',
    '34': '34-0-0',
    '31': '31-0-0',
    '(31)': '31-0-1',
    '(18)': '18-0-1',
    '28': '28-0-0',
    '(33)': '33-0-1',
    'RDG 27.33': '27.33-RDG-0',
    'DSQ (78)': '78-DSQ-1',
    '33': '33-0-0',
    '20': '20-0-0',
    '(55)': '55-0-1',
    '(34)': '34-0-1',
    '': '0-0-0',
    '21': '21-0-0',
    '32': '32-0-0',
    '29': '29-0-0',
    '(23)': '23-0-1',
    '(27)': '27-0-1',
    '(50)': '50-0-1',
    '(59)': '59-0-1',
    'RDG 22.70': '22.70-RDG-0',
    'RDG 15.66': '15.66-RDG-0',
    '(64)': '64-0-1',
    '38': '38-0-0',
    '(58)': '58-0-1',
    '45': '45-0-0',
    'DNC (41)': '41-DNC-1',
    '(22)': '22-0-1',
    '44': '44-0-0',
    '22': '22-0-0',
    '(57)': '57-0-1',
    '(52)': '52-0-1',
    '(15)': '15-0-1',
    '(54)': '54-0-1',
    '(65)': '65-0-1',
    '40': '40-0-0',
    '39': '39-0-0',
    'DNF (41)': '41-DNF-1',
    '(32)': '32-0-1',
    '(46)': '46-0-1',
    'DNC 41': '41-DNC-0',
    '(24)': '24-0-1',
    '41': '41-0-0',
    '(68)': '68-0-1',
    '(38)': '38-0-1',
    '(51)': '51-0-1',
    '36': '36-0-0',
    '(42)': '42-0-1',
    '(66)': '66-0-1',
    '(71)': '71-0-1',
    'RDG 44.20': '44.20-RDG-0',
    '30': '30-0-0',
    '53': '53-0-0',
    '(63)': '63-0-1',
    '37': '37-0-0',
    'RET (41)': '41-RET-1',
    '50': '50-0-0',
    '56': '56-0-0',
    '(56)': '56-0-1',
    'DSQ 41': '41-DSQ-0',
    '(73)': '73-0-1',
    '43': '43-0-0',
    '(67)': '67-0-1',
    '42': '42-0-0',
    '73': '73-0-0',
    '54': '54-0-0',
    '66': '66-0-0',
    '52': '52-0-0',
    '60': '60-0-0',
    '47': '47-0-0',
    '(62)': '62-0-1',
    '49': '49-0-0',
    '(70)': '70-0-1',
    '55': '55-0-0',
    '46': '46-0-0',
    '64': '64-0-0-0',
    '48': '48-0-0',
    'DNC (78)': '78-DNC-1',
    '51': '51-0-0',
    '(40)': '40-0-1',
    '(75)': '75-0-1',
    '57': '57-0-0',
    'RDG 26.30': '26.30-RDG-0',
    '(47)': '47-0-1',
    '63': '63-0-0',
    '62': '62-0-0',
    'RDG 10.33': '10.33-RDG-0',
    '59': '59-0-0',
    '(37)': '37-0-1',
    '69': '69-0-0',
    '(72)': '72-0-1',
    '65': '65-0-0',
    '(69)': '69-0-1',
    '58': '58-0-0',
    'DNF 41': '41-DNF-0',
    '68': '68-0-0',
    'RDG 51': '51-RDG-0',
    'DNF 78': '78-DNF-0',
    '61': '61-0-0',
    '(74)': '74-0-1',
    '70': '70-0-0',
    '67': '67-0-0',
    'DNC 78': '78-DNC-0',
    '(5)': '5-0-1',
    '(12)': '12-0-1',
    '(26)': '26-0-1',
    '(76)': '76-0-1',
    'RDG 30': '30-RDG-0',
    'BFD 78': '78-BFD-0',
    'RDG (57)': '57-RDG-1',
    'DNS 41': '41-DNS-0',
    'RDG 57.33': '57.33-RDG-0',
    'RET 78': '78-RET-0',
    '72': '72-0-0',
    'RDG 47.45': '47.45-RDG-0',
    '(77)': '77-0-1',
    '74': '74-0-0',
    '71': '71-0-0',
    '4.0': '4.0-0-0',
    '6.0': '6.0-0-0',
    '7.0': '7.0-0-0',
    '5.0': '5.0-0-0',
    '10.0': '10.0-0-0',
    '\xa0\xa0\xa0DNF': '0-DNF-0',
    '3.0': '3.0-0-0',
    '1.0': '1.0-0-0',
    '2.0': '2.0-0-0',
    '9.0': '9.0-0-0',
    '8.0': '8.0-0-0',
    'nan': '0-0-0',
    '\xa0\xa0\xa0UFD': '0-UFD-0',
    'UFD': '0-0-0',
    'DNF': '50-DNF-0',
    '\xa0\xa0\xa0RET': '50-RET-0',
    'RET': '50-RET-0',
    1: '1-0-0',
    2: '2-0-0',
    -26: '26-0-1',
    4: '4-0-0',
    7: '7-0-0',
    11: '11-0-0',
    14.0: '14.0-0-0',
    3: '3-0-0',
    '-19': '19-0-1',
    6: '6-0-0',
    9: '9-0-0',
    13: '13-0-0',
    16.0: '16.0-0-0',
    10: '10-0-0',
    -21: '21-0-1',
    19: '19-0-0',
    5: '5-0-0',
    20: '20-0-0',
    8: '8-0-0',
    18: '18-0-0',
    12: '12-0-0',
    -24: '24-0-1',
    22.0: '22.0-0-0',
    -25: '25-0-1',
    15: '15-0-0',
    '-22': '22-0-1',
    -23: '23-0-1',
    17: '17-0-0',
    23: '23-0-0',
    '-21': '21-0-1',
    -20: '20-0-1',
    21: '21-0-0',
    -29: '29-0-1',
    '-38': '38-0-1',
    24: '24-0-0',
    '-24': '24-0-1',
    25: '25-0-0',
    28: '28-0-0',
    26: '26-0-0',
    -28: '28-0-1',
    -22: '22-0-1',
    '-26': '26-0-1',
    27: '27-0-0',
    -30: '30-0-1',
    '18,3': '18.3-0-0',
    '-28': '28-0-1',
    30: '30-0-0',
    -30: '30-0-1',
    -27: '27-0-1',
    29: '29-0-0',
    -34: '34-0-1',
    34: '34-0-0',
    '-34': '34-0-1',
    -32: '32-0-1',
    31: '31-0-0',
    38: '38-0-0',
    32: '32-0-0',
    -35: '35-0-1',
    33: '33-0-0',
    '20.0': '20.0-0-0',
    '18.0': '18.0-0-0',
    '12.0': '12.0-0-0',
    '14.0': '14.0-0-0',
    '(13)': '13-0-1',
    '13.0': '13.0-0-0',
    '(22.0)': '22.0-0-1',
    '11.0': '11.0-0-0',
    '19.0': '19.0-0-0',
    '(26.0)': '26.0-0-1',
    '(21.0)': '21.0-0-1',
    '17.0': '17.0-0-0',
    '26.0': '26.0-0-0',
    '22.0': '22.0-0-0',
    '(19.0)': '19.0-0-1',
    '15.0': '15.0-0-0',
    '21.0': '21.0-0-0',
    '(24.0)': '24.0-0-1',
    '(23.0)': '23.0-0-1',
    '23.0': '23.0-0-0',
    '24.0': '24.0-0-0',
    '19,6': '19.6-0-0',
    '(10)': '10-0-1',
    '-16': '16-0-1',
    '84': '84-0-0',
    '-17': '17-0-1',
    '86': '86-0-0',
    'UFD (31)': '31-UFD-1',
    '112': '112-0-0',
    'DSQ (31)': '31-DSQ-1',
    '124': '124-0-0',
    '132': '132-0-0',
    '133': '133-0-0',
    'DNF (26)': '26-DNF-1',
    '139': '139-0-0',
    '142': '142-0-0',
    '-23': '23-0-1',
    '151': '151-0-0',
    'UFD (26)': '26-UFD-1',
    '176': '176-0-0',
    '180': '180-0-0',
    'DSQ (26)': '26-DSQ-1',
    '186': '186-0-0',
    'RDG (13.38)': '13.38-RDG-1',
    '186,38': '186,38-0-0',
    'BFD (31)': '31-BFD-1',
    '197': '197-0-0',
    '188': '188-0-0',
    'RET (31)': '31-RET-1',
    '199': '199-0-0',
    '202': '202-0-0',
    '206': '206-0-0',
    '201': '201-0-0',
    '217': '217-0-0',
    '-25': '25-0-1',
    'RDG (15.50)': '15.50-RDG-1',
    '222,5': '222,5-0-0',
    '239': '239-0-0',
    '243': '243-0-0',
    '-27': '27-0-1',
    '245': '245-0-0',
    'DNC (31)': '31-DNC-1',
    '131': '131-0-0',
    'DNF (31)': '31-DNF-1',
    '155': '155-0-0',
    '167': '167-0-0',
    '170': '170-0-0',
    'BFD (35)': '35-BFD-1',
    '177': '177-0-0',
    '210': '210-0-0',
    '214': '214-0-0',
    '220': '220-0-0',
    '213': '213-0-0',
    '229': '229-0-0',
    '241': '241-0-0',
    '-29': '29-0-1',
    '251': '251-0-0',
    'UFD (35)': '35-UFD-1',
    '259': '259-0-0',
    'DSQ (35)': '35-DSQ-1',
    '260': '260-0-0',
    '258': '258-0-0',
    '-33': '33-0-1',
    '264': '264-0-0',
    'RDG (20)': '20-RDG-1',
    '280': '280-0-0',
    '-32': '32-0-1',
    '283': '283-0-0',
    'STP (18)': '18-STP-1',
    '-33': '33-0-1',
    '291': '291-0-0',
    '293': '293-0-0',
    '295': '295-0-0',
    '320': '320-0-0',
    'DNC (35)': '35-DNC-1',
    '329': '329-0-0',
    'STP (25)': '25-STP-1',
    'DNF (35)': '35-DNF-1',
    '338': '338-0-0',
    '355': '355-0-0',
    '-31': '31-0-1',
    'STP (26)': '26-STP-1',
    '380': '380-0-0',
    '448': '448-0-0',
    '-20': '20-0-1',
    'DNF (11)': '11-DNF-1',
    'STP (17)': '17-STP-1',
    'STP (16)': '16-STP-1',
    'STP (22)': '22-STP-1',
    'STP (11)': '11-STP-1',
    'UFD (32)': '32-UFD-1',
    'STP (12)': '12-STP-1',
    '-18': '18-0-1',
    'RDG (6)': '6-RDG-1',
    'DNC (32)': '32-DNC-1',
    'RDG (15.70)': '15.70-RDG-1',
    'DNC (26)': '26-DNC-1',
    'BFD (26)': '26-BFD-1',
    'RDG (14.40)': '14.40-RDG-1',
    'DNF (32)': '32-DNF-1',
    'BFD (32)': '32-BFD-1',
    'DNC (34)': '34-DNC-1',
    'STP (8)': '8-STP-1',
    'DNF (34)': '34-DNF-1',
    'UFD (34)': '34-UFD-1',
    'BFD (34)': '34-BFD-1',
    'DSQ (32)': '32-DSQ-1',
    'RET (32)': '32-RET-1',
    'OCS (22)': '22-OCS-1',
    'DNC (30)': '30-DNC-1',
    'UFD (30)': '30-UFD-1',
    'DNC (28)': '28-DNC-1',
    'BFD (30)': '30-BFD-1',
    'STP (20)': '20-STP-1',
    'DNS (30)': '30-DNS-1',
    'UFD (28)': '28-UFD-1',
    'DNF (28)': '28-DNF-1',
    'DNF (30)': '30-DNF-1',
    'RET (30)': '30-RET-1'
}

In [265]:
def get_pontuacao(valor):
    try:
        return pont[valor]
    except:
        print(valor)
        return valor

In [266]:
dfs["Pontuação Temporaria"] = dfs["Pontuação Regata"].apply(get_pontuacao)

In [268]:
def get_pont_correta(valor):
    try:
        return float(valor.split("-")[0])
    except:
        print(valor)
        return valor.split("-")[0]

def get_puni_correta(valor):
    return valor.split("-")[1]

def get_des_correta(valor):
    return valor.split("-")[2]

In [269]:
dfs["Pontuação Regata"] = dfs["Pontuação Temporaria"].apply(get_pont_correta)
dfs["Punição"] = dfs["Pontuação Temporaria"].apply(get_puni_correta)
dfs["Descarte"] = dfs["Pontuação Temporaria"].apply(get_des_correta)

# FAZENDO O MERGE FINAL DATA

In [270]:
final_data = pd.read_csv("../cleaned_data_2024/final_data.csv", low_memory=False)
final_data.dropna(subset=["Nome Competidor", "Nome Competição"], inplace=True)
final_data.columns

Index(['ID Resultado', 'ID Competidor', 'Nome Competidor', 'ID Competição',
       'Classe Vela', 'Pontuação Regata', 'Descarte', 'Flotilha',
       'Posição Geral', 'Punição', 'Pontuação Total', 'Nett',
       'Nome Competição', 'Regata', 'Id Resultado', 'Id Competidor',
       'Id Competição'],
      dtype='object')

In [271]:
final_data.drop(["Id Resultado", "Id Competidor", "Id Competição"], axis=1, inplace=True)
final_data["Nacionalidade"] = ""
final_data.head()

,ID Resultado,ID Competidor,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Descarte,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata,Nacionalidade
0,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,15.0,0,NaN,1,0,207,116,European Championship 2023,1Q,
1,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,2.0,0,NaN,1,0,207,116,European Championship 2023,2Q,
2,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,6.0,0,NaN,1,0,207,116,European Championship 2023,3Q,
3,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,4Q,
4,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,5Q,

In [272]:
dfs.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição,Pontuação Temporaria,Punição,Descarte
0,1,"GOYARD, NICOLAS",FRA,1Q,3.0,261,84,IQFOIL MASC.,European Championship 2022,3-0-0,0,0
1,1,"GOYARD, NICOLAS",FRA,2Q,1.0,261,84,IQFOIL MASC.,European Championship 2022,1-0-0,0,0
2,1,"GOYARD, NICOLAS",FRA,3Q,1.0,261,84,IQFOIL MASC.,European Championship 2022,1-0-0,0,0
3,1,"GOYARD, NICOLAS",FRA,4Q,1.0,261,84,IQFOIL MASC.,European Championship 2022,1-0-0,0,0
4,1,"GOYARD, NICOLAS",FRA,5Q,7.0,261,84,IQFOIL MASC.,European Championship 2022,7-0-1,0,1

In [273]:
dfs.rename(columns={'Athlete': 'Nome Competidor', 'Net': "Nett", "Position":"Posição Geral", "Total":"Pontuação Total"}, inplace=True)
try:
    dfs.drop(columns=['Pontuação Temporaria'], inplace=True)
except:
    pass
nova_ordem_colunas = ['ID Resultado', 'ID Competidor', 'Nome Competidor', 'ID Competição', 'Classe Vela', 'Pontuação Regata', 'Descarte', 'Flotilha', 'Posição Geral', 'Punição', 'Pontuação Total', 'Nett', 'Nome Competição', 'Regata', 'Nacionalidade']
dfs = dfs.reindex(columns=nova_ordem_colunas)

dfs.head()

,ID Resultado,ID Competidor,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Descarte,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata,Nacionalidade
0,NaN,NaN,"GOYARD, NICOLAS",NaN,IQFOIL MASC.,3.0,0,NaN,1,0,261,84,European Championship 2022,1Q,FRA
1,NaN,NaN,"GOYARD, NICOLAS",NaN,IQFOIL MASC.,1.0,0,NaN,1,0,261,84,European Championship 2022,2Q,FRA
2,NaN,NaN,"GOYARD, NICOLAS",NaN,IQFOIL MASC.,1.0,0,NaN,1,0,261,84,European Championship 2022,3Q,FRA
3,NaN,NaN,"GOYARD, NICOLAS",NaN,IQFOIL MASC.,1.0,0,NaN,1,0,261,84,European Championship 2022,4Q,FRA
4,NaN,NaN,"GOYARD, NICOLAS",NaN,IQFOIL MASC.,7.0,1,NaN,1,0,261,84,European Championship 2022,5Q,FRA

In [274]:
df_final = pd.concat([final_data, dfs])

In [276]:
df_final.head()

,ID Resultado,ID Competidor,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Descarte,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata,Nacionalidade
0,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,15.0,0,NaN,1,0,207,116,European Championship 2023,1Q,
1,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,2.0,0,NaN,1,0,207,116,European Championship 2023,2Q,
2,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,6.0,0,NaN,1,0,207,116,European Championship 2023,3Q,
3,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,4Q,
4,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,5Q,

In [278]:
df_final.to_csv("../cleaned_data_2024/final_data_regata.csv")