In [2]:
import pandas as pd 
from unidecode import unidecode

# Dados da Planilha

## IQFOIL Masc.	European Championship 2022

In [23]:
df1 = pd.read_csv("../../arquivo_1.CSV", sep=";", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df1)):
    data = list(df1.iloc[each_athlete])
    for each_regata in range(4, 24):
        list_of_data.append([data[0], data[3].upper(), data[1].split(" ")[0], f"{df1.columns[each_regata]} Q", data[each_regata], data[-2], data[-1], "IQFOIL MASC.", "European Championship 2022"])

df1_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df1_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"GOYARD, NICOLAS",FRA,1 Q,3,261,84,IQFOIL MASC.,European Championship 2022
1,1,"GOYARD, NICOLAS",FRA,2 Q,1,261,84,IQFOIL MASC.,European Championship 2022
2,1,"GOYARD, NICOLAS",FRA,3 Q,1,261,84,IQFOIL MASC.,European Championship 2022
3,1,"GOYARD, NICOLAS",FRA,4 Q,1,261,84,IQFOIL MASC.,European Championship 2022
4,1,"GOYARD, NICOLAS",FRA,5 Q,-7,261,84,IQFOIL MASC.,European Championship 2022

## Nacra 17	Semaine Olympique Francaise De Voile 2022

In [29]:
df2 = pd.read_csv("../../arquivo_2.CSV", sep=";", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df2)):
    data = list(df2.iloc[each_athlete])
    for each_regata in range(6, 24):
        list_of_data.append([data[0], data[2].upper(), data[1].split(" ")[0], f"{df2.columns[each_regata]} Q", data[each_regata], data[-2], data[-1], "Nacra 17", "Semaine Olympique Francaise De Voile 2022"])

df2_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df2_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,TITA RUGGERO (ITART8) ...,ITA,1 Q,36,4,4.0,IQFOIL MASC.,European Championship 2022
1,1,TITA RUGGERO (ITART8) ...,ITA,2 Q,42,4,4.0,IQFOIL MASC.,European Championship 2022
2,1,TITA RUGGERO (ITART8) ...,ITA,3 Q,1,4,4.0,IQFOIL MASC.,European Championship 2022
3,1,TITA RUGGERO (ITART8) ...,ITA,4 Q,5,4,4.0,IQFOIL MASC.,European Championship 2022
4,1,TITA RUGGERO (ITART8) ...,ITA,5 Q,4,4,4.0,IQFOIL MASC.,European Championship 2022

## 49er	Trofeo S.A.R Princesa Sofia 2015

In [33]:
df3 = pd.read_csv("../../arquivo_3.CSV", sep=";", encoding='iso-8859-1')
df3

list_of_data = list()
for each_athlete in range(len(df3)):
    data = list(df3.iloc[each_athlete])
    for each_regata in range(5, 19):
        list_of_data.append([data[0], data[2].upper(), data[1].split(" ")[0], f"{each_regata - 4} Q", data[each_regata], data[4], data[3], "49ER", "Trofeo S.A.R Princesa Sofia 2015"])

df3_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df3_auxi.head(5)

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,PETER BURLING / BLAIR TUKE,NZL,1 Q,1,76,50,49ER,Trofeo S.A.R Princesa Sofia 2015
1,1,PETER BURLING / BLAIR TUKE,NZL,2 Q,1,76,50,49ER,Trofeo S.A.R Princesa Sofia 2015
2,1,PETER BURLING / BLAIR TUKE,NZL,3 Q,2,76,50,49ER,Trofeo S.A.R Princesa Sofia 2015
3,1,PETER BURLING / BLAIR TUKE,NZL,4 Q,3,76,50,49ER,Trofeo S.A.R Princesa Sofia 2015
4,1,PETER BURLING / BLAIR TUKE,NZL,5 Q,1,76,50,49ER,Trofeo S.A.R Princesa Sofia 2015

## 49erFX	Trofeo S.A.R Princesa Sofia 2015

## 49er	Trofeo S.A.R Princesa Sofia 2016

## 49erFX	Trofeo S.A.R Princesa Sofia 2016

In [13]:
df6 = pd.read_csv("../../arquivo_6.CSV", sep=";", encoding='iso-8859-1')

list_of_data = list()
for i in range(0, len(df6), 2):
    data_0 = list(df6.iloc[i])
    data_1 = list(df6.iloc[i + 1])
    list_of_data.append(data_0[0:5] + data_1[5:])

df_6_real = pd.DataFrame(columns=df6.columns, data=list_of_data)

## 49er	Trofeo S.A.R Princesa Sofia 2017

## 49erFX	Trofeo S.A.R Princesa Sofia 2017

## 49er	Trofeo S.A.R Princesa Sofia 2018

## 49erFX	Trofeo S.A.R Princesa Sofia 2018