In [1]:
import requests
import pandas as pd
import re

In [2]:
def get_name(text):
    text = text.split(") ")[1]
    return text.split(" |")[0]

In [3]:
def get_position(text):
    pattern = r'\((.*?)\)'
    match = re.search(pattern, text)
    return match.group(1)

In [4]:
def get_flotilha(soup_object):
    """
    This functions gets a input like <span style="display:none;">punt_Yellow _0000003</span>
    and returns the series of this data.
    """
    if "Yellow" in str(soup_object) or "Blue" in str(soup_object) or "Red"in str(soup_object) or "Pink" in str(soup_object) or "White" in str(soup_object) or "Green" in str(soup_object) or "Emerald" in str(soup_object) \
    or "punt_ " in str(soup_object) or "Gold" in str(soup_object) or "Silver" in str(soup_object) or "Bronze" in str(soup_object):
        return "G"
    #DESCOMENTING BELOW IF THE CATEGORY IS FORMULA KITE
    # elif "QF" in str(soup_object):
    #     return "B"
    # elif "SF" in str(soup_object):
    #     return "P"
    # elif "Final" in str(soup_object):
    #     return "O"
    elif "Medal" in str(soup_object):
        return "MR"
    else:
        return "aa"

In [5]:
COMPETICAO = "World Championship 2023"
CATEGORIA = "470"

In [6]:
r = requests.get("https://world-sailing-api.soticcloud.net/stats/api/event/b04bd77a-378c-4737-85c6-3a740b95cdcb?include=crews.country%2Ccrews.sailors.crewRole%2Craces.raceResults.crew.country%2Craces.raceResults.crew.sailors%2Craces.raceResults.crewCompetingStatus%2Craces.status%2Ccrews.carriedWins")
data = r.json()
df_data = {
    "Id Resultado": [],
    "Id Competidor": [],
    "Nome Competidor": [],
    "Id Competição": [],
    "Classe Vela": [],
    "Pontuação Regata": [],
    "Flotilha": [],
    "Posição Geral": [],
    "Punição": [],
    "Pontuação Total": [],
    "Nett": [],
    "Nome Competição": [],
    "Regata": []    
}

In [7]:
for race in data["data"]["races"]:
    for result in race["raceResults"]:
        pontuacao = result["averagePoints"]
        nome = get_name(result["crew"]["_admin_name"])
        posicao = get_position(result["crew"]["_admin_name"])
        flotilha = get_flotilha(race["name"])
        totalpoints = result["crew"]["totalPoints"]
        net = result["crew"]["points"]
        flotilha = get_flotilha(race)
        regata = race["name"]
        df_data["Id Resultado"].append(None)
        df_data["Id Competidor"].append(None),
        df_data["Nome Competidor"].append(nome),
        df_data["Id Competição"].append(None),
        df_data["Classe Vela"].append(CATEGORIA),
        df_data["Pontuação Regata"].append(pontuacao),
        df_data["Posição Geral"].append(posicao),
        df_data["Flotilha"].append(flotilha)
        df_data["Punição"].append(None),
        df_data["Pontuação Total"].append(totalpoints),
        df_data["Nett"].append(net),
        df_data["Nome Competição"].append(COMPETICAO)
        df_data["Regata"].append(regata)

In [8]:
df = pd.DataFrame(df_data)
df.head()

,Id Resultado,Id Competidor,Nome Competidor,Id Competição,Classe Vela,Pontuação Regata,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata
0,None,None,THAMSOONTORN/KHEMKAEW,None,470,18,G,49,None,210,181,World Championship 2023,Race 9 Silver
1,None,None,GIANNOULIS/GIANNOULI,None,470,32,G,58,None,258,226,World Championship 2023,Race 9 Silver
2,None,None,JERWOOD/NICHOLAS,None,470,10,G,36,None,135,102,World Championship 2023,Race 9 Silver
3,None,None,SPANAKI/SPANAKIS,None,470,2,G,48,None,211,178,World Championship 2023,Race 9 Silver
4,None,None,BRISTOW/TAYLOR,None,470,5,G,38,None,137,116,World Championship 2023,Race 9 Silver

In [10]:
# df.to_csv(f"scraped-data/{COMPETICAO}{CATEGORIA}.csv")

## Agreggating results

In [11]:
# import os

In [12]:
# files = [f for f in os.listdir("scraped-data") if "World Championship 2023" in f]

In [13]:
# files

In [14]:
# df_init = pd.read_csv("scraped-data/"+files[0])
# for file in files[1:]:
#     df_init = pd.concat([df_init, pd.read_csv("scraped-data/"+file)])
# df_init.to_csv("scraped-data/cluster2.csv")

In [15]:
# len(df_init)