# Cluster 1

## Agregando resultados

In [14]:
import os
import pandas as pd

In [15]:
files = [f for f in os.listdir("../scraped-data-2024/c1")]

df_init = pd.read_csv("../scraped-data-2024/c1/"+files[0])

for file in files[1:]:
    df_init = pd.concat([df_init, pd.read_csv("../scraped-data-2024/c1/"+file)])

df_init.to_csv("../scraped-data-2024/cluster1-html.csv", index=False)

# Cluster 2

In [16]:
files = [f for f in os.listdir("../scraped-data-2024/c2")]

df_init = pd.read_csv("../scraped-data-2024/c2/"+files[0])

for file in files[1:]:
    df_init = pd.concat([df_init, pd.read_csv("../scraped-data-2024/c2/"+file)])

df_init.to_csv("../scraped-data-2024/cluster2-html.csv", index=False)

## Cluster 2.5

In [19]:
df_ilca6 = pd.read_csv("../scraped-data-2024/c2_5/European Championship 2021 Ilca 6.csv")
df_ilca7 = pd.read_csv("../scraped-data-2024/c2_5/European Championship 2021 Ilca 7.csv")
df_final = pd.concat([df_ilca7, df_ilca6])
df_final.to_csv("../scraped-data-2024/cluster2_5-pdf.csv", index=False)

# Cluster 5

In [22]:
files = [f for f in os.listdir("../scraped-data-2024/c5") if f.endswith(".csv")]
df_init = pd.read_csv("../scraped-data-2024/c5/"+files[0])

for file in files[1:]:
    df_init = pd.concat([df_init, pd.read_csv("../scraped-data-2024/c5/"+file)])

df_init.to_csv("../scraped-data-2024/cluster5-pdf.csv", index=False)

# Cluster 7

In [25]:
df = pd.read_excel("../scraped-data-2024/c7/CENTRA & SOUTH Ilca 7.xlsx")
df.rename(columns={
    "Rank": 
}
)

In [26]:
df.head()

,Rank,Sailors,Net,Total,R1,R2,R3,R4,R5,R6,R7,R8,R9,R10
0,1,Clemente Seguel Lacámara,24,36,2,2,3,2,4,2,6,[12],2,1
1,2,Bruno Fontes,29,37,1,3,6,1,[8],1,2,4,8,3
2,3,Stefano Peschiera,33,41,3,5,4,4,1,[8],5,1,3,7
3,4,Francisco Guaragna Rigonat,34,42,6,1,2,6,3,5,4,[8],1,6
4,5,Matias Dyck,47,59,7,8,1,3,9,[12],7,3,4,5

# Cluster 8

In [17]:
files = [f for f in os.listdir("../scraped-data-2024/c8")]

df_init = pd.read_csv("../scraped-data-2024/c8/"+files[0])

for file in files[1:]:
    df_init = pd.concat([df_init, pd.read_csv("../scraped-data-2024/c8/"+file)])

df_init.to_csv("../scraped-data-2024/cluster8-html.csv", index=False)

# Cluster 9

In [18]:
files = [f for f in os.listdir("../scraped-data-2024/c9")]

df_init = pd.read_csv("../scraped-data-2024/c9/"+files[0])

for file in files[1:]:
    df_init = pd.concat([df_init, pd.read_csv("../scraped-data-2024/c9/"+file)])

df_init.to_csv("../scraped-data-2024/cluster9-html.csv", index=False)

C:\Users\silla\AppData\Local\Temp\ipykernel_19524\4215367912.py:6: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_init = pd.concat([df_init, pd.read_csv("../scraped-data-2024/c9/"+file)])