In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('../scraped-data-2024/c6/26o-Centro-Sul-Americano-ILCA-6-Masc.-Fem.-Bueno-Aires-2023-1-4.xlsx')
df.head()

,Col.,NOME,Nett,Total,Q1,Q2,Q3,Q4,Q5,F1,F2,F3,F4
0,1.0,Erick Marcondes de M.Carpes,15.0,24.0,1,1,2,1,2,9,3,2,3
1,2.0,Lucia Falasca,22.0,34.0,2,1,1,1,12,4,2,4,7
2,3.0,Gabriella Marques Kidd,33.0,52.0,3,4,1,2,4,19,8,3,8
3,4.0,Dolores Moreira Fraschini,37.0,52.0,4,3,3,14,5,1,5,15,2
4,5.0,Florencia Chiarella Salas,44.0,61.0,5,4,3,17,8,3,6,6,9

In [3]:
# df.columns = df.iloc[0]
# df = df.drop(0)
# df = df.drop(['PAÍS', 'Gênero', 'Classificação', 'Categoria'], axis=1)
# df.head()

In [4]:
# rename columns
df = df.rename(columns=
                         {'Col.': 'Posição Geral', 'NOME': 'Nome Competidor', 'Total': 'Pontuação Total'})

In [5]:
df['Posição Geral'] = df.index

In [6]:
#turn all the Q1, Q2, ..., F3, F4 columns into rows
df = pd.melt(df, id_vars=['Posição Geral', 'Nome Competidor', 'Pontuação Total', 'Nett'], 
                  var_name='Flotilha', value_name='Pontuação Regata')
df['Regata'] = df['Flotilha']

In [7]:
df.head()

,Posição Geral,Nome Competidor,Pontuação Total,Nett,Flotilha,Pontuação Regata,Regata
0,0,Erick Marcondes de M.Carpes,24.0,15.0,Q1,1,Q1
1,1,Lucia Falasca,34.0,22.0,Q1,2,Q1
2,2,Gabriella Marques Kidd,52.0,33.0,Q1,3,Q1
3,3,Dolores Moreira Fraschini,52.0,37.0,Q1,4,Q1
4,4,Florencia Chiarella Salas,61.0,44.0,Q1,5,Q1

In [8]:
# rename flotilha
# from "Posição Geral" 1 to 37: "Flotilha" = "O"
# from "Posição Geral" 38 to 74: "Flotilha" = "P"

df['Flotilha'] = df['Posição Geral'].apply(lambda x: 'O' if x <= 37 else 'P')

In [9]:
# se o valor em 'Pontuação Regata' NÃO for um número, 'Punição' recebe o valor de 'Pontuação Regata' e 'Pontuação Regata' recebe ''
df['Punição'] = df['Pontuação Regata'].apply(lambda x: '' if isinstance(x, int) else x)
df['Pontuação Regata'] = df['Pontuação Regata'].apply(lambda x: '' if isinstance(x, str) else x)

In [10]:
df['Nome Competição'] = ['Central and South American Championship 2023'] * len(df)
df['ID Competição'] = [3] * len(df)
df['Classe Vela'] = ['Ilca 6'] * len(df)

In [11]:
column_order = ['Nome Competidor', 'ID Competição', 'Classe Vela', 
                'Pontuação Regata', 'Flotilha', 'Posição Geral', 
                'Punição', 'Pontuação Total', 'Nett', 'Nome Competição', 'Regata']

df = df[column_order]

In [12]:
df.head(20)

,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata
0,Erick Marcondes de M.Carpes,3,Ilca 6,,O,0,1,24.0,15.0,Central and South American Championship 2023,Q1
1,Lucia Falasca,3,Ilca 6,,O,1,2,34.0,22.0,Central and South American Championship 2023,Q1
2,Gabriella Marques Kidd,3,Ilca 6,,O,2,3,52.0,33.0,Central and South American Championship 2023,Q1
3,Dolores Moreira Fraschini,3,Ilca 6,,O,3,4,52.0,37.0,Central and South American Championship 2023,Q1
4,Florencia Chiarella Salas,3,Ilca 6,,O,4,5,61.0,44.0,Central and South American Championship 2023,Q1
5,Stefano André Pendola de la Torre,3,Ilca 6,,O,5,4,69.0,54.0,Central and South American Championship 2023,Q1
6,Thomas Vives Potthoff,3,Ilca 6,,O,6,3,86.0,60.0,Central and South American Championship 2023,Q1
7,Luciana Andrea Cardozo,3,Ilca 6,,O,7,2,100.0,62.0,Central and South American Championship 2023,Q1
8,Julian Maria Duarte Argerich,3,Ilca 6,,O,8,6,80.0,63.0,Central and South American Championship 2023,Q1
9,Francisco Marotta,3,Ilca 6,,O,9,8,105.0,78.0,Central and South American Championship 2023,Q1
10,Joaquin Galvan,3,Ilca 6,,O,10,10,106.0,86.0,Central and South American Championship 2023,Q1
11,Sophie Zimmermann Veja,3,Ilca 6,,O,11,9,105.0,87.0,Central and South American Championship 2023,Q1
12,Antônio Ribeiro Machado,3,Ilca 6,,O,12,7,120.0,89.0,Central and South American Championship 2023,Q1
13,Caterina Isabel Romero Aguirre,3,Ilca 6,,O,13,6,115.0,90.0,Central and South American Championship 2023,Q1
14,Agustin Gonzalez Villalba,3,Ilca 6,,O,14,1,122.0,90.0,Central and South American Championship 2023,Q1
15,Francisco Gomez,3,Ilca 6,,O,15,UFD,130.0,92.0,Central and South American Championship 2023,Q1
16,Cristina Castellanos Estrada,3,Ilca 6,,O,16,23,116.0,93.0,Central and South American Championship 2023,Q1
17,Agustina Jordan,3,Ilca 6,,O,17,11,128.0,98.0,Central and South American Championship 2023,Q1
18,"Delfina ""Delfi! De Seta Dalli",3,Ilca 6,,O,18,10,126.0,98.0,Central and South American Championship 2023,Q1
19,Lucas Momes Ruiz,3,Ilca 6,,O,19,14,136.0,103.0,Central and South American Championship 2023,Q1

In [13]:
df.to_csv('../scraped-data-2024/cluster6-pdf.csv', index=False)