# GLICKO-2

In [53]:
import pandas as pd 
import numpy as np 
from unidecode import unidecode
import glicko2

### Dados de Teste

In [54]:
test_df = pd.DataFrame(columns=["Regata", "Nome Competição", "Nome Atleta", "Posição"],
                       data=[["Q1", "WC 2023", "Matheus", "1"],
                             ["Q1", "WC 2023", "Sillas", "2"],
                             ["Q1", "WC 2023", "Camacho", "3"],
                             ["Q2", "WC 2023", "Matheus", "1"],
                             ["Q2", "WC 2023", "Camacho", "2"],
                             ["Q2", "WC 2023", "Sillas", "3"],
                             ["Q3", "WC 2023", "Sillas", "1"],
                             ["Q3", "WC 2023", "Matheus", "2"],
                             ["Q3", "WC 2023", "Camacho", "3"],
                             ["Q1", "WC 2024", "Matheus", "1"],
                             ["Q1", "WC 2024", "Sillas", "2"],
                             ["Q1", "WC 2024", "Lucas", "3"],
                             ["Q2", "WC 2024", "Matheus", "1"],
                             ["Q2", "WC 2024", "Lucas", "2"],
                             ["Q2", "WC 2024", "Sillas", "3"],
                             ["Q3", "WC 2024", "Sillas", "1"],
                             ["Q3", "WC 2024", "Matheus", "2"],
                             ["Q3", "WC 2024", "Lucas", "3"],])

In [55]:
test_df["ID"] = test_df["Nome Competição"] + " - " + test_df["Regata"]

In [56]:
test_df

   Regata Nome Competição Nome Atleta Posição            ID
0      Q1         WC 2023     Matheus       1  WC 2023 - Q1
1      Q1         WC 2023      Sillas       2  WC 2023 - Q1
2      Q1         WC 2023     Camacho       3  WC 2023 - Q1
3      Q2         WC 2023     Matheus       1  WC 2023 - Q2
4      Q2         WC 2023     Camacho       2  WC 2023 - Q2
5      Q2         WC 2023      Sillas       3  WC 2023 - Q2
6      Q3         WC 2023      Sillas       1  WC 2023 - Q3
7      Q3         WC 2023     Matheus       2  WC 2023 - Q3
8      Q3         WC 2023     Camacho       3  WC 2023 - Q3
9      Q1         WC 2024     Matheus       1  WC 2024 - Q1
10     Q1         WC 2024      Sillas       2  WC 2024 - Q1
11     Q1         WC 2024       Lucas       3  WC 2024 - Q1
12     Q2         WC 2024     Matheus       1  WC 2024 - Q2
13     Q2         WC 2024       Lucas       2  WC 2024 - Q2
14     Q2         WC 2024      Sillas       3  WC 2024 - Q2
15     Q3         WC 2024      Sillas       1  WC 2024 - Q3
16     Q3         WC 2024     Matheus       2  WC 2024 - Q3
17     Q3         WC 2024       Lucas       3  WC 2024 - Q3

### Atletas

In [57]:
import math

class Atleta(object):
    _tau = 0.5

    def __init__(self, nome:str, rating:float=1500, rd:float=350, vol:float=0.06) -> None:
        self.nome = nome
        self.rating = rating
        self.rd = rd
        self.vol = vol

    def display_info(self) -> None:
        print(f"Nome: {self.nome.title()} - Rating: {self.rating} - Rd: {self.rd}")

In [58]:
atletas = dict()
for cada_atleta in test_df["Nome Atleta"].unique():
    atletas[cada_atleta] = Atleta(cada_atleta)
    atletas[cada_atleta].display_info()

Nome: Matheus - Rating: 1500 - Rd: 350
Nome: Sillas - Rating: 1500 - Rd: 350
Nome: Camacho - Rating: 1500 - Rd: 350
Nome: Lucas - Rating: 1500 - Rd: 350

In [59]:
def get_rating(nome:str):
    return atletas[nome].rating

In [62]:
for cada_chave in test_df["ID"]:
    df_aux = test_df[test_df["ID"] == cada_chave].reset_index(drop=True)
    df_aux["Rating"] = df_aux["Nome Atleta"].apply(get_rating)
    df_aux.sort_values(by="Rating", ascending=False)


    print(df_aux)

  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q1         WC 2023     Matheus       1  WC 2023 - Q1    1500
1     Q1         WC 2023      Sillas       2  WC 2023 - Q1    1500
2     Q1         WC 2023     Camacho       3  WC 2023 - Q1    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q1         WC 2023     Matheus       1  WC 2023 - Q1    1500
1     Q1         WC 2023      Sillas       2  WC 2023 - Q1    1500
2     Q1         WC 2023     Camacho       3  WC 2023 - Q1    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q1         WC 2023     Matheus       1  WC 2023 - Q1    1500
1     Q1         WC 2023      Sillas       2  WC 2023 - Q1    1500
2     Q1         WC 2023     Camacho       3  WC 2023 - Q1    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q2         WC 2023     Matheus       1  WC 2023 - Q2    1500
1     Q2         WC 2023     Camacho       2  WC 2023 - Q2    1500
2     Q2         WC 2023      Sillas       3  WC 2023 - Q2    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q2         WC 2023     Matheus       1  WC 2023 - Q2    1500
1     Q2         WC 2023     Camacho       2  WC 2023 - Q2    1500
2     Q2         WC 2023      Sillas       3  WC 2023 - Q2    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q2         WC 2023     Matheus       1  WC 2023 - Q2    1500
1     Q2         WC 2023     Camacho       2  WC 2023 - Q2    1500
2     Q2         WC 2023      Sillas       3  WC 2023 - Q2    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q3         WC 2023      Sillas       1  WC 2023 - Q3    1500
1     Q3         WC 2023     Matheus       2  WC 2023 - Q3    1500
2     Q3         WC 2023     Camacho       3  WC 2023 - Q3    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q3         WC 2023      Sillas       1  WC 2023 - Q3    1500
1     Q3         WC 2023     Matheus       2  WC 2023 - Q3    1500
2     Q3         WC 2023     Camacho       3  WC 2023 - Q3    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q3         WC 2023      Sillas       1  WC 2023 - Q3    1500
1     Q3         WC 2023     Matheus       2  WC 2023 - Q3    1500
2     Q3         WC 2023     Camacho       3  WC 2023 - Q3    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q1         WC 2024     Matheus       1  WC 2024 - Q1    1500
1     Q1         WC 2024      Sillas       2  WC 2024 - Q1    1500
2     Q1         WC 2024       Lucas       3  WC 2024 - Q1    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q1         WC 2024     Matheus       1  WC 2024 - Q1    1500
1     Q1         WC 2024      Sillas       2  WC 2024 - Q1    1500
2     Q1         WC 2024       Lucas       3  WC 2024 - Q1    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q1         WC 2024     Matheus       1  WC 2024 - Q1    1500
1     Q1         WC 2024      Sillas       2  WC 2024 - Q1    1500
2     Q1         WC 2024       Lucas       3  WC 2024 - Q1    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q2         WC 2024     Matheus       1  WC 2024 - Q2    1500
1     Q2         WC 2024       Lucas       2  WC 2024 - Q2    1500
2     Q2         WC 2024      Sillas       3  WC 2024 - Q2    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q2         WC 2024     Matheus       1  WC 2024 - Q2    1500
1     Q2         WC 2024       Lucas       2  WC 2024 - Q2    1500
2     Q2         WC 2024      Sillas       3  WC 2024 - Q2    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q2         WC 2024     Matheus       1  WC 2024 - Q2    1500
1     Q2         WC 2024       Lucas       2  WC 2024 - Q2    1500
2     Q2         WC 2024      Sillas       3  WC 2024 - Q2    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q3         WC 2024      Sillas       1  WC 2024 - Q3    1500
1     Q3         WC 2024     Matheus       2  WC 2024 - Q3    1500
2     Q3         WC 2024       Lucas       3  WC 2024 - Q3    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q3         WC 2024      Sillas       1  WC 2024 - Q3    1500
1     Q3         WC 2024     Matheus       2  WC 2024 - Q3    1500
2     Q3         WC 2024       Lucas       3  WC 2024 - Q3    1500
  Regata Nome Competição Nome Atleta Posição            ID  Rating
0     Q3         WC 2024      Sillas       1  WC 2024 - Q3    1500
1     Q3         WC 2024     Matheus       2  WC 2024 - Q3    1500
2     Q3         WC 2024       Lucas       3  WC 2024 - Q3    1500

In [61]:
glicko2.Player()